@page "/class/all"

@using ATA.HR.Client.Web.APIs.Insurance.Models.Responses
@using Microsoft.AspNetCore.Components
@using ATA.HR.Client.Web.APIs.Models.Response
@inherits BitPageBase

<PageTitle>
    @PageTitles.ClassPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />
<TelerikLoaderContainer Text="Uploading The Document" Visible="@IsUploading" LoaderType="LoaderType.ConvergingSpinner" />

<article>

    <div class="personnel-page">

        <!-- Page Heading Title -->
        <section class="page-header-section">
            <div class="page-header-wrapper">
                <div class="flex align-items-center">
                    <TopBar PageName="@PageTitles.ChildStudentsPage.Title" PageDescription="مشاهده‌ی همه‌ی کلاس هایی که ثبت کرده‌اید" />
                </div>

                @if (PageOperationType == OperationType.Filter)
                {
                    <div class="flex">
                        @*<button class="default-button" style="margin-left: 20px" @onclick="BackButtonHandler">بازگشت</button>*@
                        <RadzenButton class="primary-button" Text="افزودن کلاس" Click="OpenAddNewChildPage" />
                    </div>
                }
            </div>
        </section>

        <!-- Filter -->
        <section class="filter-section">
            @if (PageOperationType == OperationType.Filter)
            {
                <div class="page-box-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-6 col-xxl-3">
                            <label class="input-label">
                                کودک
                            </label>
                            <div class="searchbar-custom-wrapper">
                                <img src="@IconUrls.Search" />
                                <TelerikTextBox class="full-width"
                                                PlaceHolder="جستجو با نام کلاس"
                                                ValueChanged="SearchTermChanged">
                                </TelerikTextBox>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>

        <!-- TreeView -->
        <RadzenCard class="my-5 mx-auto" style="max-width: 400px;">

            <RadzenTree Expand=@OnExpand Collapse=@OnCollapse Change=@OnChange Style="width: 100%; height: 300px">
                <RadzenTreeItem Text="BMW">
                    <ChildContent>
                        <RadzenTreeItem Text="M3" />
                        <RadzenTreeItem Text="M5" />
                    </ChildContent>
                    <Template>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px; margin-right: 8px;" />
                        <b>@context.Text</b>
                    </Template>
                </RadzenTreeItem>
                <RadzenTreeItem Text="Audi">
                    <ChildContent>
                        <RadzenTreeItem Text="RS4" />
                        <RadzenTreeItem Text="RS6" />
                    </ChildContent>
                    <Template>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Audi-Logo_2016.svg" style="width: 20px; margin-right: 8px;" />
                        <b>@context.Text</b>
                    </Template>
                </RadzenTreeItem>
                <RadzenTreeItem Text="Mercedes">
                    <Template>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Mercedes-Logo.svg" style="width: 20px; margin-right: 8px;" />
                        <b>@context.Text</b>
                    </Template>
                    <ChildContent>
                        <RadzenTreeItem Text="C63 AMG" />
                        <RadzenTreeItem Text="S63 AMG" />
                    </ChildContent>
                </RadzenTreeItem>
            </RadzenTree>
        </RadzenCard>

        <!-- Popup Windows => Confirm Document Deletion -->
        <section>
            <ConfirmDialog @bind-IsVisible="IsVisibleDeleteChildConfirmDialog"
                           Title="تایید حذف کلاس"
                           Text="این کلاس به طور کامل از لیست موسسه حذف خواهد شد. آیا از حذف آن اطمینان دارید؟"
                           OnConfirm="() => DeleteChild(DeletingChildId)" />
        </section>
    </div>
</article>
