@page "/adult/add"
@page "/adult/edit/{AdultId:int}"

@using Microsoft.AspNetCore.Components
@using ATABit.Helper.Utils
@using Calendar = Blazor.PersianDatePicker.Calendar
@using ATA.HR.Client.Web.APIs.Enums
@inherits BitPageBase

<PageTitle>
    @if (PageOperationType == OperationType.Add)
    {
        @PageTitles.AddAdultStudentFormPage.Title
    }
    else
    {
        @PageTitles.EditAdultStudentFormPage.Title
    }
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />
<TelerikLoaderContainer Text="Uploading The Document" Visible="@IsUploading" LoaderType="LoaderType.ConvergingSpinner" />

<article>

    <div class="personnel-page">

        <!-- AddOrEdit Header -->
        <section>
            @if (PageOperationType is OperationType.Add or OperationType.Edit or OperationType.Custom1)
            {
                <HeaderAddOrEdit>
                    <button class="default-button" @onclick="OpenAdultStudentsPage">انصراف</button>
                    <button type="submit" form="adultStudentForm" class="primary-button">ذخیره</button>
                </HeaderAddOrEdit>
            }
        </section>

        <!-- Page Heading Title -->
        <section class="page-header-section">
            <div class="page-header-wrapper">
                <div class="flex align-items-center">
                    @if (PageOperationType == OperationType.Add)
                    {
                        <TopBar PageName="@("ثبت بزرگسال جدید")" PageDescription="ثبت نام داوطلب بزرگسال جدید در موسسه‌ی‌ رضوان الرسول" />
                    }
                    else if (PageOperationType == OperationType.Edit)
                    {
                        <TopBar PageName="@("ویرایش بزرگسال")" PageDescription="ویرایش داوطلب بزرگسال در موسسه‌ی‌ رضوان الرسول" />
                    }
                    else
                    {
                    }
                </div>

            </div>
        </section>

        <!-- Adult Student EditForm -->
        <section class="documentEditFormSection">
            <div class="form-custom-wrapper">

                <EditForm id="adultStudentForm" class="row" Model="@Adult" OnValidSubmit="OnAdultStudentSubmit">

                    <DataAnnotationsValidator />

                    <!-- Form Section: Adult Info -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">مشخصات بزرگسال</div>
                        <div class="col-10">
                            <div class="row">

                                <div class="col-3 form-item-wrapper">
                                    <label for="fn">نام * </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="fn"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.FirstName"
                                                       Placeholder="نام" />
                                    </div>
                                    <ValidationMessage For="() => Adult.FirstName" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="ln">نام خانوادگی * </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ln"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.LastName"
                                                       Placeholder="نام خانوادگی" />
                                    </div>
                                    <ValidationMessage For="() => Adult.LastName" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="bd"> تاریخ تولد * </label>
                                    <div class="form-input-wrapper">
                                        <InputPersianDatePicker Id="bd"
                                                                @bind-Value="Adult.BirthDateJalali"
                                                                Name="bd"
                                                                CssClass="cost-date-picker"
                                                                Visible="true"
                                                                Style="margin-left: -20px"
                                                                ReadOnly="true"
                                                                Disabled="false"
                                                                PickerAlign="Align.Right"
                                                                InitialValue="false"
                                                                CalendarType="Calendar.SingleModeJalali"
                                                                DigitType="DigitType.BasedOnCalendar"
                                                                DateFormat="DateFormat.yyyy_slash_MM_slash_dd"
                                                                MinDateSetOnToday="false"
                                                                Placeholder="تاریخ تولد"
                                                                Theme="PickerTheme.RedBlack" />
                                    </div>
                                    <ValidationMessage For="() => Adult.BirthDateJalali" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="bp">محل تولد </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="bp"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.BirthPlace"
                                                       Placeholder="محل تولد" />
                                    </div>
                                    <ValidationMessage For="() => Adult.BirthPlace" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="IssuePlace">محل صدور</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="IssuePlace"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.IssuePlace"
                                                       Placeholder="محل صدور" />
                                    </div>
                                    <ValidationMessage For="() => Adult.IssuePlace" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="IdNo">شماره شناسنامه</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="IdNo"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.IdNo"
                                                       Placeholder="شماره شناسنامه" />
                                    </div>
                                    <ValidationMessage For="() => Adult.IdNo" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="NationalCode">کد ملی</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="NationalCode"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.NationalCode"
                                                       Placeholder="کد ملی" />
                                    </div>
                                    <ValidationMessage For="() => Adult.NationalCode" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <div class="flex justify-content-between">
                                        <label>
                                            @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                            {
                                                <span>&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span>بارگزاری عکس </span>
                                            }
                                        </label>
                                        @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                        {
                                            <span @onclick="RemoveAdultImage" class="remove-attachment-button">
                                                حذف تصویر
                                            </span>
                                        }
                                    </div>
                                    <div class="form-input-wrapper">

                                        @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                        {
                                            <div class="attachment-view-box">
                                                <a href="@ToDocFullURL(Adult.PhotoPath)" target="_blank">
                                                    مشاهده تصویر
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <TelerikUpload SaveUrl="@SaveUrl"
                                                       SaveField="file"
                                                       Enabled="@string.IsNullOrWhiteSpace(Adult.PhotoPath)"
                                                       OnUpload="OnUploadHandler"
                                                       MaxFileSize="@(AppConstants.UploadLimits.DocMaxSizeAllowedToUploadInKiloBytes * 1024)"
                                                       MinFileSize="1024"
                                                       OnSelect="OnFileSelectToUpload"
                                                       OnSuccess="OnFileSuccessUpload">
                                            </TelerikUpload>
                                            <div class="form-input-helper"> حداکثر حجم 10 مگ </div>
                                        }
                                    </div>
                                    <ValidationMessage For="() => Adult.PhotoPath" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="Field">رشته تحصیلی</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="Field"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.Field"
                                                       Placeholder="رشته تحصیلی" />
                                    </div>
                                    <ValidationMessage For="() => Adult.Field" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="EducationLevel">ميزان تحصيلات</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="EducationLevel"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.EducationLevel"
                                                       Placeholder="ميزان تحصيلات" />
                                    </div>
                                    <ValidationMessage For="() => Adult.EducationLevel" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="Job">شغل</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="Job"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.Job"
                                                       Placeholder="شغل" />
                                    </div>
                                    <ValidationMessage For="() => Adult.Job" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="MaritalStatusEnum"> وضعیت تاهل </label>
                                    <div class="form-input-wrapper">
                                        <RadzenDropDown AllowClear="true"
                                                        TValue="string"
                                                        AllowFiltering="true"
                                                        Placeholder="انتخاب کنید"
                                                        Data="@(EnumMapping.ToSelectListItems<MaritalStatusEnum>())"
                                                        @bind-Value="@Adult.MaritalStatusSelectedValue"
                                                        TextProperty="Text"
                                                        ValueProperty="Value" />
                                    </div>
                                    <ValidationMessage For="() => Adult.MaritalStatusSelectedValue" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="HomeAddress">نشانی منزل</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="HomeAddress"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.HomeAddress"
                                                       Placeholder="نشانی منزل" />
                                    </div>
                                    <ValidationMessage For="() => Adult.HomeAddress" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="HomePostalCode">کد پستی منزل</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="HomePostalCode"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.HomePostalCode"
                                                       Placeholder="کد پستی منزل" />
                                    </div>
                                    <ValidationMessage For="() => Adult.HomePostalCode" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="HomePhone">تلفن منزل</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="HomePhone"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.HomePhone"
                                                       Placeholder="تلفن منزل" />
                                    </div>
                                    <ValidationMessage For="() => Adult.HomePhone" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="WorkAddress">نشانی محل کار</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="WorkAddress"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.WorkAddress"
                                                       Placeholder="نشانی محل کار" />
                                    </div>
                                    <ValidationMessage For="() => Adult.WorkAddress" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="WorkPostalCode">کد پستی محل کار</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="WorkPostalCode"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.WorkPostalCode"
                                                       Placeholder="کد پستی محل کار" />
                                    </div>
                                    <ValidationMessage For="() => Adult.WorkPostalCode" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="WorkPhone">تلفن محل کار</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="WorkPhone"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.WorkPhone"
                                                       Placeholder="تلفن محل کار" />
                                    </div>
                                    <ValidationMessage For="() => Adult.WorkPhone" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Form Section: Adult More Info-->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">اطلاعات بیشتر</div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12 col-md-6 col-xxl-3 filter-box  flex mt-4">
                                    <div style="margin-left: 10px; margin-top: -1px;">
                                        <TelerikCheckBox Id="ParticipateInQuran"
                                                         @bind-Value="@Adult.AdultMoreInfo.ParticipateInQuran">
                                        </TelerikCheckBox>
                                    </div>
                                    <label>آيا تاكنون در دوره تربیت معلم قرآن‌كريم شركت داشته‌ايد؟</label>
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> در چه رشته‌اي؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="PlaceOfInjury"
                                                       Disabled="@(Adult.AdultMoreInfo.ParticipateInQuran is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.ParticipateField"
                                                       Placeholder="در چه رشته‌اي" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.ParticipateField" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> در چه سالي؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenNumeric id="ParticipateYear"
                                                       Disabled="@(Adult.AdultMoreInfo.ParticipateInQuran is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.ParticipateYear"
                                                       Placeholder="در چه سالي" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.ParticipateYear" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> دركدام استان؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ParticipateProvince"
                                                       Disabled="@(Adult.AdultMoreInfo.ParticipateInQuran is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.ParticipateProvince"
                                                       Placeholder="دركدام استان" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.ParticipateProvince" />
                                </div>
                                <div class="col-12 col-md-6 col-xxl-3 filter-box  flex mt-4">
                                    <div style="margin-left: 10px; margin-top: -1px;">
                                        <TelerikCheckBox Id="ParticipateInQuranAsTeacher"
                                                         @bind-Value="@Adult.AdultMoreInfo.ParticipateInQuranAsTeacher">
                                        </TelerikCheckBox>
                                    </div>
                                    <label>آيا تا به حال به عنوان مدرّس يا معلّم، جلسه آموزش قرآن داشته‌ايد؟</label>
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> در چه سطحي؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ParticipateInQuranAsTeacherLevel"
                                                       Disabled="@(Adult.AdultMoreInfo.ParticipateInQuranAsTeacher is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.ParticipateInQuranAsTeacherLevel"
                                                       Placeholder="در چه سطحي" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.ParticipateInQuranAsTeacherLevel" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> در چه زماني؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ParticipateInQuranAsTeacherDate"
                                                       Disabled="@(Adult.AdultMoreInfo.ParticipateInQuranAsTeacher is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.ParticipateInQuranAsTeacherDate"
                                                       Placeholder="در چه زماني" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.ParticipateInQuranAsTeacherDate" />
                                </div>

                                <div class="col-12 col-md-6 col-xxl-3 filter-box  flex mt-4">
                                    <div style="margin-left: 10px; margin-top: -1px;">
                                        <TelerikCheckBox Id="CurrentlyTeachingRecitation"
                                                         @bind-Value="@Adult.AdultMoreInfo.CurrentlyTeachingRecitation">
                                        </TelerikCheckBox>
                                    </div>
                                    <label>آيا هم‌اكنون در جلسه آموزش قرائت، مفاهيم يا حفظ  قرآن كريم تدريس داريد؟</label>
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="PlaceOfInjury"> ‌مشخصات جلسه خود را بنويسيد </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ParticipateInQuranAsTeacherLevel"
                                                       Disabled="@(Adult.AdultMoreInfo.CurrentlyTeachingRecitation is false)"
                                                       Style="width: 100%"
                                                       @bind-Value="Adult.AdultMoreInfo.SessionDetails"
                                                       Placeholder="‌مشخصات جلسه خود را بنويسيد" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.SessionDetails" />
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="AreParentsAlive"> ميزان آشنايي شما با زبان عربي و علوم قرآني تا چه سطحي مي‌باشد؟ </label>
                                    <div class="form-input-wrapper">
                                        <RadzenDropDown AllowClear="true"
                                                        TValue="string"
                                                        AllowFiltering="true"
                                                        Placeholder="انتخاب کنید"
                                                        Data="@(EnumMapping.ToSelectListItems<FamiliarWithArabicAndQuranEnum>())"
                                                        @bind-Value="@Adult.AdultMoreInfo.FamiliarWithArabicAndQuranSelectedValue"
                                                        TextProperty="Text"
                                                        ValueProperty="Value" />
                                    </div>
                                    <ValidationMessage For="() => Adult.AdultMoreInfo.FamiliarWithArabicAndQuranSelectedValue" />
                                </div>
                            </div>
                        </div>
                    </div>

                </EditForm>

            </div>
        </section>

    </div>
</article>
