@page "/adult/add"
@page "/adult/edit/{AdultId:int}"

@using Microsoft.AspNetCore.Components
@using Calendar = Blazor.PersianDatePicker.Calendar
@inherits BitPageBase

<PageTitle>
    @if (PageOperationType == OperationType.Add)
    {
        @PageTitles.AddAdultStudentFormPage.Title
    }
    else
    {
        @PageTitles.EditAdultStudentFormPage.Title
    }
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />
<TelerikLoaderContainer Text="Uploading The Document" Visible="@IsUploading" LoaderType="LoaderType.ConvergingSpinner" />

<article>

    <div class="personnel-page">

        <!-- AddOrEdit Header -->
        <section>
            @if (PageOperationType is OperationType.Add or OperationType.Edit or OperationType.Custom1)
            {
                <HeaderAddOrEdit>
                    <button class="default-button" @onclick="OpenAdultStudentsPage">انصراف</button>
                    <button type="submit" form="adultStudentForm" class="primary-button">ذخیره</button>
                </HeaderAddOrEdit>
            }
        </section>

        <!-- Page Heading Title -->
        <section class="page-header-section">
            <div class="page-header-wrapper">
                <div class="flex align-items-center">
                    @if (PageOperationType == OperationType.Add)
                    {
                        <TopBar PageName="@("ثبت بزرگسال جدید")" PageDescription="ثبت نام داوطلب بزرگسال جدید در موسسه‌ی‌ رضوان الرسول" />
                    }
                    else if (PageOperationType == OperationType.Edit)
                    {
                        <TopBar PageName="@("ویرایش بزرگسال")" PageDescription="ویرایش داوطلب بزرگسال در موسسه‌ی‌ رضوان الرسول" />
                    }
                    else
                    {
                    }
                </div>

            </div>
        </section>

        <!-- Adult Student EditForm -->
        <section class="documentEditFormSection">
            <div class="form-custom-wrapper">

                <EditForm id="adultStudentForm" class="row" Model="@Adult" OnValidSubmit="OnAdultStudentSubmit">

                    <DataAnnotationsValidator />

                    <!-- Form Section: Adult Info -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">مشخصات بزرگسال</div>
                        <div class="col-10">
                            <div class="row">

                                <div class="col-3 form-item-wrapper">
                                    <label for="fn">نام * </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="fn"
                                                       Style="width: 100%"
                                        @bind-Value="Adult.FirstName"
                                                       Placeholder="نام" />
                                    </div>
                                    <ValidationMessage For="() => Adult.FirstName" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="ln">نام خانوادگی * </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ln"
                                                       Style="width: 100%"
                                        @bind-Value="Adult.LastName"
                                                       Placeholder="نام خانوادگی" />
                                    </div>
                                    <ValidationMessage For="() => Adult.LastName" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="bd"> تاریخ تولد * </label>
                                    <div class="form-input-wrapper">
                                        <InputPersianDatePicker Id="bd"
                                                                @bind-Value="Adult.BirthDateJalali"
                                                                Name="bd"
                                                                CssClass="cost-date-picker"
                                                                Visible="true"
                                                                Style="margin-left: -20px"
                                                                ReadOnly="true"
                                                                Disabled="false"
                                                                PickerAlign="Align.Right"
                                                                InitialValue="false"
                                                                CalendarType="Calendar.SingleModeJalali"
                                                                DigitType="DigitType.BasedOnCalendar"
                                                                DateFormat="DateFormat.yyyy_slash_MM_slash_dd"
                                                                MinDateSetOnToday="false"
                                                                Placeholder="تاریخ تولد"
                                                                Theme="PickerTheme.RedBlack" />
                                    </div>
                                    <ValidationMessage For="() => Adult.BirthDateJalali" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="bp">محل تولد </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="bp"
                                                       Style="width: 100%"
                                        @bind-Value="Adult.BirthPlace"
                                                       Placeholder="محل تولد" />
                                    </div>
                                    <ValidationMessage For="() => Adult.BirthPlace" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="ip">محل صدور</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="ip"
                                                       Style="width: 100%"
                                        @bind-Value="Adult.IssuePlace"
                                                       Placeholder="محل صدور" />
                                    </div>
                                    <ValidationMessage For="() => Adult.IssuePlace" />
                                </div>
                                
                                <div class="col-3 form-item-wrapper">
                                    <label for="in">شماره شناسنامه</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextBox id="in"
                                                       Style="width: 100%"
                                        @bind-Value="Adult.IdNo"
                                                       Placeholder="شماره شناسنامه" />
                                    </div>
                                    <ValidationMessage For="() => Adult.IdNo" />
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <div class="flex justify-content-between">
                                        <label>
                                            @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                            {
                                                <span>&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span>بارگزاری عکس </span>
                                            }
                                        </label>
                                        @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                        {
                                            <span @onclick="RemoveAdultImage" class="remove-attachment-button">
                                                حذف تصویر
                                            </span>
                                        }
                                    </div>
                                    <div class="form-input-wrapper">

                                        @if (Adult.PhotoPath.IsNotNullOrEmpty())
                                        {
                                            <div class="attachment-view-box">
                                                <a href="@ToDocFullURL(Adult.PhotoPath)" target="_blank">
                                                    مشاهده تصویر
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <TelerikUpload SaveUrl="@SaveUrl"
                                                           SaveField="file"
                                                           Enabled="@string.IsNullOrWhiteSpace(Adult.PhotoPath)"
                                                           OnUpload="OnUploadHandler"
                                                           MaxFileSize="@(AppConstants.UploadLimits.DocMaxSizeAllowedToUploadInKiloBytes * 1024)"
                                                           MinFileSize="1024"
                                                           OnSelect="OnFileSelectToUpload"
                                                           OnSuccess="OnFileSuccessUpload">
                                            </TelerikUpload>
                                            <div class="form-input-helper"> حداکثر حجم 10 مگ </div>
                                        }
                                    </div>
                                    <ValidationMessage For="() => Adult.PhotoPath" />
                                </div>
                            </div>
                        </div>
                    </div>

                </EditForm>

            </div>
        </section>

    </div>
</article>
