@page "/child/{ChildId:int}"

@using DNTPersianUtils.Core
@using Calendar = Blazor.PersianDatePicker.Calendar
@using ATABit.Helper.Utils
@using GridSelectionMode = ATA.HR.Client.Web.Enums.GridSelectionMode
@using ATA.HR.Client.Web.APIs.Insurance.Models.Responses
@inherits BitPageBase

<PageTitle>
    @PageTitles.ChildPrintPage.Title
</PageTitle>

<TelerikLoaderContainer Text="در حال بارگزاری اطلاعات کودک" Visible="@IsLoading" />

<div class="personnel-page workhours-page contract-component printbase" style="padding: 1.875rem">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            @if (PageOperationType == OperationType.Filter)
            {
                <TopBar PageName="@($"جزییات کودک {Child.FullName}")" PageDescription="شما می‌توانید از این صفحه اطلاعات کامل کودک را مشاهده و پرینت نمایید" />
            }
            <div class="flex">
                <button class="default-button" style="margin-left: 20px" @onclick="OpenChildrenPage">بازگشت</button>
                <RadzenButton class="primary-button" Text="پرینت" Click="PrintDoc" />
            </div>
        </div>
    </section>


    <section id="toPrint" class="grid-section printbase">
        <div class="page-grid-wrapper printbase">

            <div class="page-box-wrapper mt-3 printable" style="height: 1165px;
                                                                            display: flex;
                                                                            flex-direction: column;
                                                                            justify-content: space-between;">

                <div class="normal-contract">

                    <div class="row header cell-border" style="border: 1px solid #d1cfcf; display: flex; justify-content: space-between; box-shadow: 5px 5px #d1cfcf; margin-bottom: 25px; width: 100%; margin-right: 0;">
                        <div class="col-2">
                            <img class="logo" src="@ImageUrls.Layout.RezvanLogoMain" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                        <div class="title col-8" style="display: flex; flex-direction: column; justify-content: space-evenly; font-weight: bold; letter-spacing: 1px;">
                            <div class="top-center-title-print"> @($"موسسه قرآنی رضوان الرسول") </div>
                            <div class="bottom-center-title-print"> @($"فرم ثبت نام ") <strong></strong> </div>
                        </div>
                        <div class="col-2" style="display: flex;
                                                  justify-content: end;
                                                  padding-left: 25px;">
                            <img class="logo" src="@Child.PhotoPath" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border ">
                        <div class="column-holder row bio-size " style="background: rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding title-bold sm-font-size ">نام و نام خانوادگی نوآموز</div>
                            <div class="col-2 column-style holder-padding sm-font-size"> @Child.FullName </div>
                            <div class="col-2 column-style holder-padding title-bold sm-font-size">تاریخ تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size"> @Child.BirthDate.ToJalaliString() </div>
                            <div class="col-2 column-style holder-padding title-bold sm-font-size">محل تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size sm-font-size" style="padding-right: 0px;">@Child.BirthPlace</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size title-bold">محل صدور</div>
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size title-bold">سریال شناسنامه</div>
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size title-bold"> شماره شناسنامه</div>
                            <div class="col-2 sm-font-size holder-padding column-style sm-font-size">@Child.IdNo</div>
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border " style="margin-top: 20px;">
                        <div class="column-holder row bio-size" style="background:rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">نام پدر نوآموز:</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherName</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">تاریخ تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size ">@Child.FatherBirthDate?.ToJalaliString()</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">محل تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherBirthPlace</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">محل صدور</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherIssuePlace</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">سریال شناسنامه</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherSerialNo</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">شماره شناسنامه</div>
                            <div class="col-2 column-style holder-padding sm-font-size" style="padding-right: 0px;">@Child.FatherIdNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">کد ملی</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherNationalCode</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">تحصیلات</div>
                            <div class="col-2 column-style holder-padding sm-font-size"> @Child.FatherEducation </div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">رشته</div>
                            <div class="col-2 column-style holder-padding sm-font-size " style="padding-right: 0px;">@Child.FatherField</div>

                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">شغل</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FatherJob</div>
                            <div class="col-2 sm-font-size  holder-padding  title-bold ">شماره همراه</div>
                            <div class="col-2 sm-font-size  holder-padding ">@Child.FatherMobileNo</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">آدرس محل کار</div>
                            <div class="col-2 column-style holder-padding sm-font-size" style="padding-right: 0px;">@Child.FatherWorkAddress</div>
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border " style="margin-top: 20px;">
                        <div class="column-holder row bio-size" style="background:rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">نام مادر نوآموز:</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherName</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">تاریخ تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size ">@Child.MotherBirthDate?.ToJalaliString()</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">محل تولد</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherBirthPlace</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">محل صدور</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherIssuePlace</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">سریال شناسنامه</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherSerialNo</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">شماره شناسنامه</div>
                            <div class="col-2 column-style holder-padding sm-font-size" style="padding-right: 0px;">@Child.MotherIdNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">کد ملی</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherNationalCode</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">تحصیلات</div>
                            <div class="col-2 column-style holder-padding sm-font-size"> @Child.MotherEducation </div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">رشته</div>
                            <div class="col-2 column-style holder-padding sm-font-size " style="padding-right: 0px;">@Child.MotherField</div>

                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">شغل</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.MotherJob</div>
                            <div class="col-2 sm-font-size  holder-padding  title-bold ">شماره همراه</div>
                            <div class="col-2 sm-font-size  holder-padding ">@Child.MotherMobileNo</div>
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">آدرس محل کار</div>
                            <div class="col-2 column-style holder-padding sm-font-size" style="padding-right: 0px;">@Child.MotherWorkAddress</div>
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border " style="margin-top: 20px;">
                        <div class="column-holder row bio-size" style="background:rgb(250, 243, 243)">
                            <div class="col-2 column-style holder-padding sm-font-size title-bold">تعداد فرزند در خانواده</div>
                            <div class="col-2 column-style holder-padding sm-font-size">@Child.FamilyChildrenCount</div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">چندمین نفر</div>
                            <div class="col-2 column-style holder-padding sm-font-size ">@Child.NumberOfChildren</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-4 column-style holder-padding  sm-font-size title-bold"
                                 style="display: flex; align-items: center; justify-content: center;">
                                افرادی که می‌توانند کودک را تحویل بگیرند
                            </div>
                            <div class="col-8 column-style holder-padding sm-font-size">
                                <table class="ceo-report-table" style="margin: 15px;width: 70%;">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام</th>
                                        <th>نسبت با کودک</th>
                                        <th>همراه</th>
                                    </tr>

                                    @foreach (var c in Child.ChildDelivers)
                                    {
                                        <tr class="data-tr">
                                            <td> @(Child.ChildDelivers.IndexOf(c) + 1) </td>
                                            <td> @c.FullName </td>
                                            <td> @c.Relation </td>
                                            <td> @c.Phone</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border " style="margin-top: 20px;">
                        <div class="column-holder row bio-size" style="background:rgb(250, 243, 243)">
                            <div class="col-4 column-style holder-padding sm-font-size title-bold">آدرس محل سکونت</div>
                            <div class="col-8 column-style holder-padding sm-font-size">@Child.HomeAddress</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">تلفن منزل</div>
                            <div class="col-2 column-style holder-padding sm-font-size">
                                @Child.HomeTel
                            </div>
                            <div class="col-2 column-style holder-padding  sm-font-size title-bold">کد پستی</div>
                            <div class="col-2 column-style holder-padding sm-font-size">
                                @Child.HomePostalCode
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-content-between" style="margin-top: 70px;
                                                                     width: 53%;
                                                                     margin-right: auto;
                                                                     margin-left: auto;
                                                                     font-weight: bold;">
                        <div>نام و نام خانوادگی ولی کودک</div>
                        <div>امضا و تاریخ</div>
                    </div>
                </div>

            </div>

            <div class="printable" style="width: 100%; height: 40px;"></div>

            <div class="page-box-wrapper mt-3 printable" style="height: 1165px;
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: space-between;">

                <div class="normal-contract">

                    <div class="row header cell-border" style="border: 1px solid #d1cfcf; display: flex; justify-content: space-between; box-shadow: 5px 5px #d1cfcf; margin-bottom: 25px; width: 100%; margin-right: 0;">
                        <div class="col-2">
                            <img class="logo" src="@ImageUrls.Layout.RezvanLogoMain" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                        <div class="title col-8" style="display: flex; flex-direction: column; justify-content: space-evenly; font-weight: bold; letter-spacing: 1px;">
                            <div class="top-center-title-print"> @($"موسسه قرآنی رضوان الرسول") </div>
                            <div class="bottom-center-title-print"> @($"برخی اطلاعات لازم کودک") <strong></strong> </div>
                        </div>
                        <div class="col-2" style="display: flex;
                                              justify-content: end;
                                              padding-left: 25px;">
                            <img class="logo" src="@Child.PhotoPath" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                    </div>
                    <div class="column-holder row col-merge column-border ">
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-3 column-style holder-padding title-bold sm-font-size ">آیا کودک دچار تصادف یا سانحه‌ای شده است؟</div>
                            <div class="col-3 column-style holder-padding sm-font-size"> بلی </div>
                            <div class="col-3 column-style holder-padding title-bold sm-font-size">محل آسیب دیدگی</div>
                            <div class="col-3 column-style holder-padding sm-font-size"> @Child.BirthDate.ToJalaliString() </div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">بیماری خاص یا مصرف دارویی خاص</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">حساسیت دارویی یا غذایی</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">آیا والدین کودک در قید حیات هستند؟</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">کودک با چه کسی زندگی می‌کند؟</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">عادات ویژه</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">ترس‌های خاص (از چه می‌ترسد؟)</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">علایق رنگ</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">علایق اسباب بازی</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">نوع ورزش</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">شخصیت‌های کارتونی و تلویزیونی</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">شما جهت تشویق و یا تنبیه فرزندتان از چه شیوه‌ای استفاده می‌کنید؟</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">وضعیت جسمی و حرکتی کودک در مقایسه با کودکان دیگر خانواده</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">دست غالب</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">بیمه</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">تکمیلی</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">نسبت پدر و مادر</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.SerialNo</div>
                        </div>
                        <div class="column-holder row bio-size">
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size title-bold">طریقه آشنایی شما با موسسه</div>
                            <div class="col-3 sm-font-size holder-padding column-style sm-font-size">@Child.IssuePlace</div>
                        </div>
                    </div>

                    <div class="flex justify-content-between" style="margin-top: 70px;
                                                                 width: 53%;
                                                                 margin-right: auto;
                                                                 margin-left: auto;
                                                                 font-weight: bold;">
                        <div></div>
                        <div>امضا و تاریخ</div>
                    </div>
                </div>

            </div>

            <div class="printable" style="width: 100%; height: 40px;"></div>

            <div class="page-box-wrapper mt-3 printable" style="height: 1165px;
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: space-between;">

                <div class="normal-contract">

                    <div class="row header cell-border" style="border: 1px solid #d1cfcf; display: flex; justify-content: space-between; box-shadow: 5px 5px #d1cfcf; margin-bottom: 25px; width: 100%; margin-right: 0;">
                        <div class="col-2">
                            <img class="logo" src="@ImageUrls.Layout.RezvanLogoMain" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                        <div class="title col-8" style="display: flex; flex-direction: column; justify-content: space-evenly; font-weight: bold; letter-spacing: 1px;">
                            <div class="top-center-title-print"> @($"موسسه قرآنی رضوان الرسول") </div>
                            <div class="bottom-center-title-print"> @($"قوانین") <strong></strong> </div>
                        </div>
                        <div class="col-2" style="display: flex;
                                              justify-content: end;
                                              padding-left: 25px;">
                            <img class="logo" src="@Child.PhotoPath" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                        </div>
                    </div>
                <div class="column-holder row col-merge column-border ">

                <div class="column-holder row bio-size" >
                        <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                            1. 
                            تاخیر در گرفتن کودک از ساعت 11:30 (ساعت اتمام کلاس‌‌ها) تا 12 (بدون احتساب کلاس فوق برنامه)، بدون
                            هزینه و از آن پس هر یک ربع 7500 تومان (ساعتی 30 هزار تومان) هزینه بابت
                            نگهداری کودک دریافت می‌شود.
                            <br />
                            (محاسبه ساعت : 12 الی 12:15 و 12:15 الی 12:30  و ...)
                        </div>
                        
                    </div>
                    
                    <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            
                            <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                                2.
                                در دسترس بودن شماره تلفن‌های درج شده در فرم به خصوص شماره والدین، جهت تماس‌های ضروری الزامی 
                                می‌باشد. چنانچه امکان برقراری تماس با والدین وجود نداشته باشد، مسئولیت عواقب احتمالی آن بر عهده‌ی والدین می‌باشد.
                            </div>
                            
                        </div>
                        
                        <div class="column-holder row bio-size" >
                            
                            <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                                3.
                                افرادی که می توانند کودک را تحویل بگیرند عالوه بر ذکر نامشان در فرم , الزامی ست به همراه والدین جهت آشنایی 
                                مسئولین مجموعه به خانه قرآن تشریف بیاورند 
                            </div>
                            
                        </div>
                        
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            
                            <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                                4.
                                چنانچه فردی غیر از افراد مذکور جهت تحویل کودک مراجعه نماید تنها در صورت اطالع قبلی والدین و یا تماس 
                                تلفنی آنها امکان تحویل وجود دارد .
                            </div>
                            
                        </div>
                        
                        <div class="column-holder row bio-size" >
                            
                            <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                                5.
                                چنانچه فردی غیر از افراد مذکور جهت تحویل کودک مراجعه نماید تنها در صورت اطالع قبلی والدین و یا تماس 
                                تلفنی آنها امکان تحویل وجود دارد .
                            </div>
                            
                        </div>
                        
                        <div class="column-holder row bio-size" style="background: rgb(250, 243, 243)">
                            
                            <div class="col-12 column-style holder-padding title-bold sm-font-size ">
                                6.
                                حضور در جلسات اولیا مربیان الزامی می باشد و در صورت غیبت پیگیری از موضوعات بیان شده بر عهده ی والدین می 
                                باشد.
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-content-between" style="margin-top: 70px;
                                                                 width: 53%;
                                                                 margin-right: auto;
                                                                 margin-left: auto;
                                                                 font-weight: bold;">
                        <div></div>
                        <div>امضا و تاریخ</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

