@page "/insurance/my-costs-print"
@page "/insurance/my-costs-print/{PageCallback}"
@using DNTPersianUtils.Core
@inherits BitPageBase

<PageTitle>
    @PageTitles.CostsPrintPage.Title
</PageTitle>

<TelerikLoaderContainer Text="در حال آماده‌سازی گزارش" Visible="@IsLoading" />

<div class="personnel-page workhours-page printbase">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            @if (PageOperationType == OperationType.Filter)
            {
                <TopBar PageName="پرینت گزارش هزینه‌های بیمه تکمیلی" PageDescription="این گزارش جزو مدارک ضروری در بیمه تکمیلی برای دریافت هزینه‌ می‌باشد که می‌بایست به منابع انسانی تحویل داده شود" />
            }
            
            <div class="flex">
                <button class="default-button" style="margin-left: 20px" @onclick="BackButtonHandler">بازگشت</button>
                @if (AppData?.CostsToPrint?.Count > 0)
                {
                    <RadzenButton class="primary-button" Text="پرینت" Click="PrintDoc" />
                }
            </div>
        </div>
    </section>

    <!-- Grid & Signature -->
    <section class="grid-section printbase">
        <div class="page-grid-wrapper printbase">

            @if (ShowResult)
            {
                @if (false)
                {
                    <div class="page-box-wrapper mt-4 text-align-center" style="font-size: 21px;color: indianred;">
                        هیچ کارکردی در این ماه توسط این مدیر / معاون تایید نشده است
                    </div>
                }
                else
                {
                    @foreach (var costsData in CostsDataList)
                    {
                        <div class="page-box-wrapper mt-3 printable" style="height: 1165px;
                                                                            display: flex;
                                                                            flex-direction: column;
                                                                            justify-content: space-between;">

                            <div>

                                <div class="row header cell-border" style="border: 1px solid #d1cfcf; display: flex; justify-content: space-between; box-shadow: 5px 5px #d1cfcf; margin-bottom: 20px; width: 100%; margin-right: 0;">
                                    <div class="col-2">
                                        <img class="logo" src="@ImageUrls.Pages.ATAContractLogo" style="width: 50%; height: 82px; padding-top: 12px; padding-bottom: 12px;" />
                                    </div>
                                    <div class="title col-8" style="display: flex; flex-direction: column; justify-content: space-evenly; font-weight: bold; letter-spacing: 1px;">
                                        <div class="top-center-title-print"> @($"گزارش هـزینه‌های درمانی بیمه تکمیلی کـوثـر") </div>
                                        <div class="bottom-center-title-print"> @($"بیمه شده اصلی: ") <strong>@PrintInfo.MainInsuredName – @PrintInfo.MainInsuredPersonnelCode.ToPersianNumbers()</strong> </div>
                                    </div>
                                </div>

                                <table class="ceo-report-table">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام بیمار</th>
                                        <th>موضوع هزینه</th>
                                        <th>تاریخ ثبت</th>
                                        <th> کد عنوان </th>
                                        <th> عنوان هزینه </th>
                                        <th> تاریخ هزینه </th>
                                        <th> مبلغ هزینه </th>
                                        <th style="min-width: 100px;"> مبلغ تایید شده </th>
                                        <th> توضیحات </th>
                                    </tr>

                                    @foreach (var c in costsData)
                                    {
                                        <tr class="data-tr">
                                            <td> @c.Id.ToPersianNumbers() </td>
                                            <td> @c.InsuredFullName </td>
                                            <td> @c.Title </td>
                                            <td> @c.CreatedAtJalali </td>
                                            <td> @c.PolicyObligationId.ToPersianNumbers() </td>
                                            <td> @c.PolicyObligationObligationTitle </td>
                                            <td> @c.CostDateJalali </td>
                                            <td> @c.PaidAmount.ToCurrencyStringFormat().ToPersianNumbers() ریال </td>
                                            <td style="min-width: 100px;"> 
                                                @if (@c.ConfirmedAmount.HasValue)
                                                {
                                                    <span>@c.ConfirmedAmount.Value.ToCurrencyStringFormat().ToPersianNumbers() ریال</span>
                                                }
                                                 </td>
                                            <td> @c.Description </td>
                                        </tr>
                                    }
                                    
                                    <tr class="data-tr">
                                        <td colspan="5">  </td>
                                        
                                        <td colspan="3">
                                            <div class="flex justify-content-end" style="margin-left: 5%">
                                                <strong>جمع کل هزینه‌ها:
                                                
                                                    @CostsSum.ToCurrencyStringFormat().ToPersianNumbers()

                                                    <span style="font-weight: bold">ریال</span>

                                                </strong>
                                            </div>
                                        </td>
                                        
                                        <td colspan="2"> 
                                            
                                        </td>
                                    </tr>
                                </table>

                            </div>

                            <div class="flex justify-content-around signatures mt-4 printbase" style="margin-bottom: -15px">

                                <div class="flex" style="width: 30%; padding-right: 4%;">
                                    <div class="flex flex-column">
                                        <label class="bold-text" style="font-size: 15px;"> بیمه شده اصلی </label>

                                        <span> @PrintInfo.MainInsuredName </span>
                                    </div>

                                    <img src="@PrintInfo.MainInsuredSignatureUrl" width="50%" class="signature-img" />

                                </div>

                                <div style="width: 30%; padding-right: 2%;">
                                    <label class="bold-text" style="font-size: 15px;"> رئیس ارشد منابع انسانی </label>

                                    <span> مهرداد گراوند </span>

                                    @*@if (WorkHourSignaturesRef.HRSupervisorSignatureImageDataURL.IsNotNullOrEmpty())
                                        {
                                            <img src="@WorkHourSignaturesRef.HRSupervisorSignatureImageDataURL" width="100%" class="signature-img" />
                                        }*@
                                </div>

                                <div style="width: 30%; padding-right: 2%;">
                                    <label class="bold-text" style="font-size: 15px;"> کارشناس بیمه کوثر </label>

                                    @*@if (WorkHourSignaturesRef != null)
                                    {
                                        <span> @WorkHourSignaturesRef.HRManagerSignedBy </span>

                                        @if (WorkHourSignaturesRef.HRManagerSignatureImageDataURL.IsNotNullOrEmpty())
                                        {
                                            <img src="@WorkHourSignaturesRef.HRManagerSignatureImageDataURL" width="100%" class="signature-img" />
                                        }
                                    }*@
                                </div>
                            </div>

                        </div>

                        <div class="printable" style="width: 100%; height: 40px;"></div>
                    }
                }
            }

        </div>
    </section>
</div>

