@page "/insurance/coverage-policies"

@using ATA.HR.Client.Web.APIs
@using ATA.HR.Client.Web.APIs.HRInsuranceModels
@using System.Threading
@using DNTPersianUtils.Core
@inherits BitPageBase
@inject ICoreAPIs CoreAPIs

<PageTitle>
    @PageTitles.InsuranceCoveragePoliciesPage.Title
</PageTitle>

<main class="insurance-page">
    <article>

        <section>
            <div class="row">
                <div class="col col-md-6">
                    <section class="policy-notes-box">
                        <h3 class="kosar-insurance-title">بیمه درمان تکمیلی کوثر</h3>
                        <ul>
                            <li>
                                سهم هر فرد برای بیمه تکمیلی و دندانپزشکی با سهم کارفرما ماهیانه
                                ۴,۵۰۰,۰۰۰
                                ریال می‌باشد
                            </li>
                            <li>
                                با توجـه بـه تقبـل پرداخـت
                                ۵۰
                                درصـد حـق بیمـه توسـط شـرکت، حـق بیمـه تکمیلـی ماهانـه سـهم کارمنـد بـرای
                                هـر نفر
                                ۲,۲۵۰,۰۰۰
                                ریال می‌باشد
                            </li>
                            <li>
                                فرانشیز کلیه‌ی هزینه‌های پرداختی ۱۰ درصد می‌باشد
                            </li>
                            <li>
                                زمان تحویل مدارک، حداکثر سه ماه بعد از تاریخ نسخه پزشک می‌باشد
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="col col-md-6">
                    <section class="policy-notes-box">
                        <h3 class="life-insurance-title">بیمه عمر و حوادث گروهی کوثر</h3>
                        <ul>
                            <li>
                                سهم بیمه عمر برای بیمه شده اصلی با سهم کارفرما ماهیانه مبلغ
                                ۵۰۰,۰۰۰
                                ریال می‌باشد
                            </li>
                            <li>
                                با توجـه بـه تقبـل پرداخـت
                                ۵۰
                                درصـد حـق بیمـه توسـط شـرکت، حـق بیمـه عمر ماهانـه سـهم کارمنـد بـرای
                                هـر نفر
                                ۲۵۰,۰۰۰
                                ریال می‌باشد
                            </li>
                            <li>
                                میزان خسارت پرداختی برای فوت عادی مبلغ
                                ۸۰۰,۰۰۰,۰۰۰
                                ریال و برای فوت بر اثر حادثه
                                ۱,۵۰۰,۰۰۰,۰۰۰
                                ریال می‌باشد
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="col col-md-12">
                    <section class="policy-notes-box policy-prices-box">
                        <h3 class="life-insurance-title" style="width: 30%">تـعرفـه و تـعهـدات</h3>

                        <p style="margin-right: 20px !important;margin-top: 15px !important;">
                            تعهدات و تعرفه‌های بیمه درمانی تکمیلی صندوق کوثر در سال ۱۴۰۲ به قرار زیر می‌باشد.
                            <br />
                            شما می‌توانید فایل کامل را از
                            <a class="k-link" target="_blank" style="font-size: 18px;
                                                     color: tomato;
                                                     letter-spacing: 0.5px;" href="files/kosar1402.pdf"
                                download>اینجا</a>
                            دانلود نمایید.
                        </p>

                        @if (PolicyObligations.Count > 0)
                        {
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نوع تعهدات</th>
                                        <th>
                                            حداکثر تعهدات
                                            <span class="toman-tip">(ریال)</span>
                                        </th>
                                        <th>
                                            توضیحات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var po in PolicyObligations)
                                    {
                                        <tr>
                                            <td>@po.ObligationCode.ToPersianNumbers()</td>
                                            <td>@po.ObligationTitle</td>
                                            <td class="max-amount">
                                                @((po.MaxCoverage).ToCurrencyStringFormat().ToPersianNumbers())
                                            </td>
                                            <td>
                                                @po.ObligationDescription
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </section>
                </div>

            </div>
        </section>
    </article>

</main>

@code
{
    private List<PolicyObligationDto> PolicyObligations { get; set; } = new();

    protected override async Task OnInitializedAsync(CancellationToken cancellationToken)
    {
        PolicyObligations = await CoreAPIs.Insurance_GetActivePolicyObligations();

        await base.OnInitializedAsync(cancellationToken);
    }
}
