@page "/insurance/my-insured-people"

@using ATA.HR.Client.Web.APIs.HRInsuranceModels
@using ATA.HR.Client.Web.APIs.Insurance.Models
@using Microsoft.AspNetCore.Components
@inherits BitPageBase


<PageTitle>
    @PageTitles.MyInsuredPeoplePage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<article>

    <div class="personnel-page">

        <!-- Page Heading Title -->
        <section class="page-header-section">
            <div class="page-header-wrapper">
                @if (PageOperationType == OperationType.Filter)
                {
                    <div class="flex align-items-center" style="margin-right: 15px;
                                                                margin-bottom: -5px;">

                        <TopBar PageName="مشخصات بیمه شده‌ی اصلی"
                            PageDescription="" />
                    </div>
                }
            </div>
        </section>

        <!-- EditForm -->
        <section class="documentEditFormSection">
            <div class="form-custom-wrapper">

                <EditForm id="documentForm" class="row" Model="@CurrentUser">

                    <!-- Form Section -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">اطلاعات فردی </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-2" style="text-align: center;">
                                    <img class="doc-profile-img" src="@AvatarPicUrl" @onerror="OnUserImageLoadFailed"
                                         style=" width: 6rem; height: 5rem; border: 1px solid #E5E5E6; margin-top: 3px; margin-left: 20px; margin-right: 5px; border-radius: 5px; ">
                                </div>
                                <div class="col-3 form-item-wrapper">
                                    <label for="documentCategory">کد پرسنلی </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false" @bind-Value="PersonnelCode">
                                        </TelerikTextBox>
                                    </div>
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="productSubCategory">
                                        نام
                                    </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false"
                                                        @bind-Value="CurrentUser.FullName">
                                        </TelerikTextBox>
                                    </div>
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="productSubCategory">
                                        کد ملی
                                    </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false"
                                                        @bind-Value="CurrentUser.NationalCode">
                                        </TelerikTextBox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Form Section -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">اطلاعات بیمه</div>
                        <div class="col-10">
                            <div class="row">

                                <div class="col-3 form-item-wrapper">
                                    <label for="productSubCategory">
                                        شماره تامین اجتماعی
                                    </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false"
                                                        @bind-Value="CurrentUser.InsuranceCode">
                                        </TelerikTextBox>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Form Section -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">اطلاعات بانکی</div>
                        <div class="col-10">
                            <div class="row">

                                <div class="col-3 form-item-wrapper">
                                    <label for="documentDesc"> بانک </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false" @bind-Value="BankName">
                                        </TelerikTextBox>
                                    </div>
                                </div>

                                <div class="col-3 form-item-wrapper">
                                    <label for="productSubCategory">
                                        شماره حساب
                                    </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false"
                                                        @bind-Value="CurrentUser.SaderatAccountNo">
                                        </TelerikTextBox>
                                    </div>
                                </div>
                                
                                <div class="col-3 form-item-wrapper">
                                    <label for="productSubCategory2">
                                        شماره شبا
                                    </label>
                                    <div class="form-input-wrapper">
                                        <TelerikTextBox class="full-width" Enabled="false"
                                                        @bind-Value="CurrentUser.SaderatShebaNo">
                                        </TelerikTextBox>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </EditForm>

            </div>
        </section>

        <section style="margin-top: 28px;
                        margin-right: 20px;
                        margin-bottom: -5px;
                        font-family: aeonik-regular, iranyekan;
                        font-size: 1.375rem;
                        color: #393939;">
            اطلاعات جاری بیمه عمر و تکمیلی شما و افراد تحت تکفل
            <span style="font-size: 14px;
                         color: darkslategray;
                         font-weight: bold;">
                (این اطلاعات با سامانه‌های منابع انسانی یکپارچه می‌باشد. در صورت عدم تطابق اطلاعات، با داخلی ۴۱۳۶ معاونت منابع انسانی
                تماس بگیرید)
            </span>

        </section>

        <!-- Grid -->
        <section class="grid-section">
            <div class="page-grid-wrapper mt-4 my-insureds-grid">



                @*<div class="orders-archive-status-container">
                <div class="@(OrdersDataFilter.DataArchivableState == (int)ArchivableState.Active ? "active" : "")"
                @onclick="() => FilterOrdersBasedOnArchivedState(ArchivableState.Active)">
                ثبت شده
                </div>
                <div class="@(OrdersDataFilter.DataArchivableState == (int)ArchivableState.Archived ? "active" : "")"
                @onclick="() => FilterOrdersBasedOnArchivedState(ArchivableState.Archived)">
                حذف شده
                </div>
                <div class="@(OrdersDataFilter.DataArchivableState == (int)ArchivableState.All ? "active" : "")"
                @onclick="() => FilterOrdersBasedOnArchivedState(ArchivableState.All)">
                همه
                </div>
                </div>*@

                <TelerikGrid TItem="@InsuredDto" @ref="@GridRef" Height="100%" Pageable="true" PageSize="100"
                             Sortable="true" Groupable="false" Resizable="true" Reorderable="true"
                             OnStateInit="@OnStateInitHandler" OnRowRender="OnGridRowRender" Data=@MyInsureds>
                    <GridColumns>
                        <GridColumn Field="@(nameof(InsuredDto.FullName))" Title="نام و نام خانوادگی" Width="100px"
                                    Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(InsuredDto.RelationType))" Title="نسبت" Width="100px" Locked="false"
                                    Sortable="true" />
                        <GridColumn Field="@(nameof(InsuredDto.NationalCode))" Title="کد ملی" Width="100px"
                                    Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(InsuredDto.BirthDateJalali))" Title="تاریخ تولد" Width="100px"
                                    Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(InsuredDto.InsuranceStatusDisplay))" Title="عضویت بیمه تکمیلی"
                                    Width="100px" Locked="false" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var insured = (InsuredDto)gridContext;

                                    @if (insured.InsuranceStatus == 1)
                                    {
                                        <img style="margin-right: 14%" src="@IconUrls.CheckIcon" />
                                    }
                                    else
                                    {
                                        <img style="margin-right: 14%" src="@IconUrls.ErrorToast" />
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(InsuredDto.NationalCode))" Title="" Width="130px"
                                    Locked="true" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var insured = (InsuredDto)gridContext;

                                    <div class="grid-action-buttons-wrapper">
                                        <TelerikButton Class="warning-button margin-right-10 cancel-insurance-button"
                                                   Enabled="!IsLoading && insured.InsuranceStatus == 1 && DisabledDueToTimeLimitHasPassed"
                                                   OnClick="() => OpenCancelConfirmDialog(insured)">
                                            @if (IsLoading)
                                            {
                                                <span>در حال پردازش</span>
                                            }
                                            else if (insured.InsuranceStatus != 1)
                                            {
                                                <span>عضویت لغو شد</span>
                                            }
                                            else
                                            {
                                                //<span>لغو عضویت</span>
                                                <span>پایان مهلت لغو عضویت</span>
                                            }
                                        </TelerikButton>
                                    </div>

                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(InsuredDto.InsuranceStatusDisplay))" Title="عضویت بیمه عمر" Width="100px" Locked="false" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var insured = (InsuredDto)gridContext;

                                    if (insured.IsMainInsurer)
                                    {
                                        <div style="margin-top: 16px; margin-right: 3%;
                                                                    display: flex;">
                                            <img src="@IconUrls.CheckIcon" />
                                            <span style="margin-right: 10px;
                                                                         font-size: 12px;
                                                                         letter-spacing: 0.5px;
                                                                         margin-top: 3px;">
                                                <i>(الزامی)</i>
                                            </span>
                                        </div>
                                    }
                                    else
                                    {
                                        <img style="margin-top: 10px;
                                                                    margin-right: 10%;" src="@IconUrls.ErrorToast" />
                                    }
                                }
                            </Template>
                        </GridColumn>

                    </GridColumns>
                </TelerikGrid>

                @if (MyInsureds.Any(i => i.IsActive == false) && DisabledDueToTimeLimitHasPassed)
                {
                    <div class="page-grid-operation-wrapper">
                        <TelerikButton Class="success-button send-all-contracts-button" OnClick="ReviveInsuredToActiveState">@($"عضویت مجدد")</TelerikButton>
                        </div>

                }
            </div>
        </section>

        <!-- Popup Windows => Confirm Document Deletion -->
        <section>
            <ConfirmDialog @bind-IsVisible="IsVisibleCancelInsuranceConfirmDialog" Title="تایید لغو عضویت از بیمه تکمیلی"
                           Text="@CancelConfirmAlert"
                           TextClass="stern-warning-in-dialog"
                           OnConfirm="() => WithdrawFromInsurance()"
                           OkButtonText="بله"
                           CancelButtonText="خیر" />
        </section>
    </div>

</article>
