@page "/contracts/dismiss-smses"

@using DNTPersianUtils.Core
@inherits BitPageBase

<PageTitle>
    @PageTitles.DismissSmsesPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="personnel-page">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            <TopBar PageName="مدیریت پیام‌های خاتمه خدمت" PageDescription="مشاهده و ارسال پیام‌های خاتمه خدمت به پرسنلی که از شرکت جدا شده‌اند" />
        </div>
    </section>

    <!-- Filter -->
    <section class="filter-section">
    </section>

    <!-- WorkHours EditForm -->
    <section class="documentEditFormSection">
    </section>

    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper" style="margin-top: 10px">

            <div class="page-grid-operation-wrapper">
                
            </div>

            <div class="orders-archive-status-container" style="top: -20px">
                <div class="@(IsViewingStillHaveNotBeenSentGrid ? "active" : "")"
                     @onclick="ChangeToViewingStillHaveNotBeenSentGrid">
                    خاتمه‌های پیامک نشده
                    @* <span class="badge" style="display: inline;
                                           padding: 3px 6px 5px 7px;
                                           color: whitesmoke;
                                           background: forestgreen;
                                           font-size: 12px;
                                           border: none;
                                           letter-spacing: 1px;">
                    </span>*@
                </div>
                <div class="@(IsViewingStillHaveNotBeenSentGrid is false ? "active" : "")"
                     @onclick="ChangeToViewingHaveBeenSentGrid">
                    ارسال شده‌ها
                    @*<span class="badge" style="display: inline;
                                               padding: 3px 6px 5px 7px;
                                               color: whitesmoke;
                                               background: indianred;
                                               font-size: 12px;
                                               border: none;
                                               letter-spacing: 1px;">
                    </span>*@
                </div>
            </div>

            @if (IsViewingStillHaveNotBeenSentGrid)
            {
                <TelerikGrid TItem="@UserDto"
                             @ref="@HaveNotSentUsersGridRef"
                             Height="100%"
                             Pageable="true"
                             PageSize="PageSize"
                             Sortable="true"
                             Groupable="false"
                             Resizable="true"
                             Reorderable="true"
                             OnStateInit="@OnStateInitHandler"
                             OnRowRender="OnGridRowRender"
                             OnRead=@OnReadHandlerHaveNotSentUsersGrid>
                    <GridColumns>
                        <GridColumn Field="@(nameof(UserDto.FullName))" Title="نام پرسنل" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(UserDto.PersonnelCode))" Title="کد پرسنلی" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(UserDto.LastHokmExecutionDate))" Title="تاریخ خاتمه خدمت" Width="100px" Locked="false" Sortable="true">
                            <Template Context="gridContext">
                                @{
                                    var u = (UserDto)gridContext;
                                    <span> @u.LastHokmExecutionDate?.ToJalaliString() </span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(UserDto.UserId))" Title="عملیات" Width="100px" Locked="true" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var u = (UserDto)gridContext;
                                    <div class="grid-action-buttons-wrapper">
                                        <TelerikButton Class="default-button margin-right-10 send-contract-button"
                                                       Enabled="!IsLoading"
                                                       OnClick="@(() => ShowSendingSmsModal(u.UserId, u.Gender, u.FullName))">
                                            ارسال پیامک
                                        </TelerikButton>

                                    </div>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>
            }
            else
            {
                <TelerikGrid TItem="@DismissSmsReadDto"
                             @ref="@HaveSentUsersGridRef"
                             Height="100%"
                             Pageable="true"
                             PageSize="PageSize"
                             Sortable="true"
                             Groupable="false"
                             Resizable="true"
                             Reorderable="true"
                             OnStateInit="@OnStateInitHandler2"
                             OnRowRender="OnGridRowRender2"
                             OnRead=@OnReadHandlerHaveSentUsersGrid>
                    <GridColumns>
                        <GridColumn Field="@(nameof(DismissSmsReadDto.UserFullName))" Title="نام پرسنل" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(DismissSmsReadDto.UserPersonnelCode))" Title="کد پرسنلی" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(DismissSmsReadDto.CreatedAtJalali))" Title="تاریخ ارسال پیامک" Width="100px" Locked="false" Sortable="false" />
                    </GridColumns>
                </TelerikGrid>
            }
        </div>
    </section>

    <!-- Popup Windows => Send SMS Modal -->
    <article>
        <TelerikWindow Class="popup-window-custom-wrapper" Width="100%" Height="100%" Centered="true" Visible="IsVisibleSendingSmsModal">
            <WindowContent>

                <div class="popup-window-content versioning-window">

                    <div class="app-versioning-container" style="position: relative">

                        <img class="close-button" src="@IconUrls.CloseCircle" @onclick="() => IsVisibleSendingSmsModal = false"
                             style="width: 30px;left: 7px;float: left;position: absolute;top: 7px;cursor: pointer;" />

                        <div class="col-4 popup-window-content-card">
                            @{

                                <div>
                                    <h4 class="version-no-title" style="font-weight: bold;
                                                            margin-top: 6px;
                                                            margin-bottom: 10px;
                                                            color: darkgreen;
                                                            font-size: 17px;">
                                        @($"ارسال پیامک خاتمه‌ی خدمت به {UserFullNameSendingSmsTo}")
                                    </h4>

                                    <div class="personnelCode-to-register-workhours-box">
                                        <TelerikTextArea Id="smsContentTextBox"
                                                     Class="input-personnelCode input-dismiss-sms"
                                                        @bind-Value="SmsContentToSend"
                                                    PlaceHolder="متن پیام خاتمه خدمت را وارد نمایید" />
                                    </div>

                                    <div style="display: flex;
                                                                                                justify-content: space-evenly;
                                                                                                margin-top: 40px;
                                                                                                margin-bottom: 20px;">
                                        <TelerikButton Class="primary-button" OnClick="OnSendDismissSms"> ارسال پیامک </TelerikButton>

                                        <TelerikButton Class="default-button" OnClick="() => IsVisibleSendingSmsModal = false"> انصراف </TelerikButton>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>

            </WindowContent>
        </TelerikWindow>
    </article>
</div>
