@page "/contracts/my-contracts"

@inherits BitPageBase

<PageTitle>
    @PageTitles.MyContractsPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="dashboard-page">
    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            <TopBar PageName="قراردادهای من" PageDescription="مشاهده‌ی قراردادهای پرسنلی  شما در سامانه‌ی جامع منابع انسانی" />
        </div>
    </section>

    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper my-contracts">

            <div class="page-grid-operation-wrapper" style="visibility: hidden">
                <TelerikButton Class="secondary-button d-none d-md-block" ImageUrl="@IconUrls.Export">خروجی Excel</TelerikButton>
            </div>
            
            <div class="orders-archive-status-container">
                <div class="respons @(MyContractsFilter.Active ? "active" : "")"
                     @onclick="() => GetMyContracts(true, false, false)">
                    آخرین قرارداد فعال من
                </div>
                <div class="respons @(MyContractsFilter.Pending ? "active" : "")"
                     @onclick="() => GetMyContracts(false, true, false)">
                    قرارداد در حال بررسی من
                </div>
                <div class="respons @(MyContractsFilter.All ? "active" : "")"
                     @onclick="() => GetMyContracts(false, false, true)">
                    همه قراردادهای من
                </div>
            </div>

            <TelerikGrid TItem="@ContractReadDto"
                         @ref="@MyContractGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnStateInit="@OnStateInitHandler"
                         OnRead=@OnReadHandler>
                <GridColumns>
                    <GridColumn Field="@(nameof(ContractReadDto.Id))" Title="شناسه قرارداد" Width="100px" Locked="false" Sortable="false" />
                    <GridColumn Field="@(nameof(ContractReadDto.ContractDetailsPostTitle))" Title="سمت" Width="100px" Locked="false" Sortable="false" />
                    <GridColumn Field="@(nameof(ContractReadDto.ContractDetailsExecutionDateJalaliDisplay))" Title="تاریخ شروع" Width="100px" Locked="false" Sortable="false" />
                    <GridColumn Field="@(nameof(ContractReadDto.ContractDetailsValidityDateJalaliDisplay))" Title="تاریخ پایان" Width="100px" Locked="false" Sortable="false" />
                    <GridColumn Field="@(nameof(ContractReadDto.FlowStatusDisplay))" Title="وضعیت" Width="100px" Locked="false" Sortable="false" />
                    <GridColumn Field="@(nameof(ContractReadDto.Id))" Title="عملیات" Width="80px" Sortable="false" Locked="false">
                        <Template Context="gridContext">
                            @{
                                var contract = (ContractReadDto)gridContext;

                                <div class="grid-action-buttons-wrapper">
                                    @if (contract.ContractDetails is not null)
                                    {
                                        <TelerikButton Class="default-button view-work-button"
                                                       Enabled="!IsLoading"
                                                       OnClick="@(() => OpenContractFlowFormsPage(contract.ContractDetails.ContractId))">
                                            مشاهده
                                        </TelerikButton>
                                    }
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
        </div>
    </section>

</div>

