@page "/settings/roles"
@inherits BitPageBase

<PageTitle> @PageTitles.RolesPage.Title </PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="roles-page">

    <!-- AddOrEdit Header -->
    <section>
        @if (PageOperationType is OperationType.Custom1)
        {
            <HeaderAddOrEdit>
                <button type="submit" form="@(PageOperationType == OperationType.Custom1 ? "roleClaimsForm" : "roleForm")" class="primary-button">ذخیره</button>
                <button class="default-button" @onclick="ChangeToFilterMode">انصراف</button>
            </HeaderAddOrEdit>
        }
    </section>

    <!-- Page Heading Title -->
    <section>
        <div class="page-header-wrapper">
            @if (PageOperationType == OperationType.Filter)
            {
                <TopBar PageName="@PageTitles.RolesPage.Title" PageDescription="نمایش نقش‌های کاربران در سامانه‌ و مدیریت دسترسی‌های هر نقش" />
                <a style="color: #87121A;font-weight: 700;" href="http://security.app.ataair.ir/pages/role/RoleEdit.aspx" target="_blank">اضافه کردن نقش در SSO آتا</a>
            }
            else if (PageOperationType == OperationType.Custom1)
            {
                <div class="page-add-edit-header">
                    <div class="page-back-title">
                        <img src="@IconUrls.Back" @onclick="ChangeToFilterMode" />
                        <div class="back-title-text">
                            مدیریت دسترسی‌های نقش
                        </div>
                    </div>
                    <div class="page-back-links">
                        <div>تنظیمات</div>
                        <img src="@IconUrls.PaleArrowRight" />
                        <div>نقش‌ها</div>
                        <img src="@IconUrls.DarkArrowRight" />
                        <div class="active-link">
                            مدیریت دسترسی‌ها
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <!-- RoleClaims EditForm -->
    <section>
        @if (PageOperationType is OperationType.Custom1)
        {
            <div class="form-custom-wrapper">
                <EditForm id="roleClaimsForm" class="row" Model="@Role" OnValidSubmit="OnClaimChangesSubmit">
                    <DataAnnotationsValidator />
                    <div class="row form-section">
                        <div class="col-2 form-section-title">
                            دسترسی‌های نقش @Role.RoleName
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <RadzenCheckBoxList @bind-Value=@_selectedClaims
                                                TValue="string"
                                                Orientation="Orientation.Horizontal">
                                    <Items>
                                        @foreach (var claim in AllClaims)
                                        {
                                            var isFixed = Role.RoleName == DefaultRoles.Administrator.Name;

                                            <RadzenCheckBoxListItem Text=@Claims.GetClaimDisplayName(claim) Value=@claim Disabled=@isFixed />
                                        }
                                    </Items>
                                </RadzenCheckBoxList>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    </section>

    <!-- Roles Grid -->
    <section>
        <div class="page-grid-wrapper">

            <TelerikGrid TItem="@RoleReadDto"
                         @ref="@RoleGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="20"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnRead=@OnReadHandler>
                <GridColumns>
                    <GridColumn Field="@(nameof(RoleReadDto.RoleName))" Title="نقش" Width="100px" Sortable="true" />
                    <GridColumn Field="@(nameof(RoleReadDto.Claims))" Title="دسترسی‌ها" Width="400px" Sortable="false">
                        <Template>
                            <div class="flex-wrap">
                                @{
                                    var role = (RoleReadDto)context;

                                    var roleClaimTypes = role.RoleName == DefaultRoles.Administrator.Name
                                    ? DefaultRoles.Administrator.Claims.ToList()
                                    : role.Claims.ToList();

                                    foreach (var roleClaim in roleClaimTypes)
                                    {
                                        <div class="chip-badge">@Claims.GetClaimDisplayName(roleClaim)</div>
                                    }
                                }
                            </div>
                        </Template>
                    </GridColumn>
                    <AuthorizeView Policy="@Claims.Settings_Permissions_Manage">
                        <GridColumn Field="@(nameof(RoleReadDto.RoleName))" Title="عملیات" Locked="true" Width="160px" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var role = (RoleReadDto)gridContext;

                                    if (role.RoleName != DefaultRoles.Administrator.Name)
                                    {
                                        <div class="grid-action-buttons-wrapper">

                                            <TelerikButton Class="default-button" Enabled="PageOperationType != OperationType.Custom1"
                                                   OnClick="@(() => ChangeToManageRolePermissionsMode(role.RoleName!))">دسترسی‌ها</TelerikButton>
                                        </div>
                                    }
                                }
                            </Template>
                        </GridColumn>
                    </AuthorizeView>
                </GridColumns>
            </TelerikGrid>
        </div>
    </section>

</div>