@page "/guest-houses/booking-form/{City}/{RoomId:int}"

@inherits BitPageBase

<PageTitle>
    @PageTitles.BookingFormPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="book-page">

    <!-- Page Heading Title -->
    <section>
        <div class="page-header-wrapper">
            <div class="page-add-edit-header">
                <div class="page-back-title">
                    <img src="@IconUrls.Back" @onclick="NavigateBackToBookingPage" />
                    <div class="back-title-text">
                        @(PageTitles.BookingFormPage.Title)
                    </div>
                </div>
                <div class="page-back-links">
                    <div> ساختمان @BuildingName </div>

                    @if (string.IsNullOrWhiteSpace(UnitName) is false)
                    {
                        <img src="@IconUrls.PaleArrowRight" />
                        <div> واحد @UnitName </div>
                    }

                    <img src="@IconUrls.DarkArrowRight" />
                    <div class="active-link">اتاق @RoomName </div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <EditForm class="row" Model="@BookingModel.Bookings">

            <DataAnnotationsValidator />

            <div class="flex space-between padding-0">

                <div class="col-12 col-md-6 col-xxl-4 filter-box flex mt-3">
                    <div style="margin-left: 10px; margin-top: -3px;">
                        <TelerikCheckBox Id="BookAllBeds" @bind-Value="@BookingModel.AreAllBedsBooked" />
                    </div>
                    <label>اتاق دربست <span style="color: #87121a;font-weight: bold;">&nbsp;(در صورتی که اتاق را دربست میکنید، فقط مشخصات تخت اول را وارد کنید)</span></label>
                </div>

                <RadzenButton class="primary-button" Text="ثبت اطلاعات" Click="BookBeds" />
            </div>

            @foreach (var item in BookingModel.Bookings)
            {
                <div class="form-custom-wrapper margin-t-10">

                    @if (item.BedId > 0)
                    {
                        <div class="margin-top-25 margin-right-30">
                            <span class="font-weight-600 blue-tag">
                                <span>تخت : @item.BedName.En2FaDigits()</span>
                            </span>
                        </div>
                    }

                    <!-- Form Section -->
                    <div class="row form-section">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 form-item-wrapper">
                                    <label for="documentCategory">نام مهمان * </label>
                                    <div class="form-input-wrapper">
                                        <InputText class="full-width"
                                               placeholder="نام مهمان"
                                               @bind-Value="item.GuestName" />
                                    </div>
                                </div>

                                <div class="col-4 form-item-wrapper">
                                    <label for="documentCategory">تاریخ ورود * </label>
                                    <div class="form-input-wrapper">
                                        <InputPersianDatePicker Id="@($"date_{item.BedId.ToString()}")"
                                                            @bind-Value="item.CheckinDateJalali"
                                                            ReadOnly="true"
                                                            PickerAlign="Align.Right"
                                                            ShowCalendarIcon="true"
                                                            CalendarIconPosition="IconPosition.Right"
                                                            DigitType="DigitType.BasedOnCalendar"
                                                            DateFormat="DateFormat.yyyy_slash_MM_slash_dd"
                                                            CalendarType="Blazor.PersianDatePicker.Calendar.SingleModeJalali"
                                                            Placeholder="انتخاب تاریخ"
                                                            CssClass="form-control date-picker" />
                                    </div>
                                </div>

                                <div class="col-4 form-item-wrapper">
                                    <label for="buildingPhoneNumber">تعداد روز</label>
                                    <div class="form-input-wrapper">
                                        <InputNumber class="full-width"
                                                 placeholder="تعداد روز"
                                                 @bind-Value="item.Duration" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-12 form-item-wrapper">
                                    <label for="buildingAddress">توضیحات</label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextArea Style="width: 100%"
                                                    @bind-Value="item.Description"
                                                    placeholder="توضیحات" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }

        </EditForm>

    </section>

</div>