@page "/guest-houses/building/{City}"
@using ATA.HR.Shared.Enums.GuestHouse
@using ATABit.Helper.Utils

@inherits BitPageBase

<PageTitle>
    @PageTitles.BuildingPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="personnel-page">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            <TopBar PageName="@PageTitles.BuildingPage.Title" PageDescription=@($"مشاهده ساختمان های مهمانسرای {CityDisplay}") />
            @if (PageOperationType == OperationType.Filter)
            {
                <div class="top-add-buttons-wrapper">
                    <RadzenButton class="primary-button" Text="افزودن ساختمان" Click="ChangeToAddBuildingMode" />
                </div>
            }
        </div>
    </section>

    <!-- Filter -->
    <section class="filter-section">
        @if (PageOperationType == OperationType.Filter)
        {
            <div class="page-box-wrapper">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-12 col-xl-6 col-xxl-3">
                        <label class="input-label">
                            نام ساختمان
                        </label>
                        <div class="searchbar-custom-wrapper" style="padding-bottom:25px;">
                            <img src="@IconUrls.Search" style="height:45px;" />
                            <TelerikTextBox class="full-width"
                                        PlaceHolder="نام ساختمان"
                                        ValueChanged="SearchTermChanged">
                            </TelerikTextBox>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

    <!-- Add Header -->
    <section>
        @if (PageOperationType is OperationType.Add)
        {
            <HeaderAddOrEdit>
                <button type="submit" form="building-form" class="primary-button" @onclick="OnBuildingSubmit">ذخیره</button>
                <button class="default-button" @onclick="ChangeToFilterMode">انصراف</button>
            </HeaderAddOrEdit>
        }
    </section>

    <!-- Building EditForm -->
    @if (PageOperationType == OperationType.Add)
    {
        <section class="buildingEditFormSection">
            @if (PageOperationType is OperationType.Add or OperationType.Edit)
            {
                <div class="form-custom-wrapper">

                    <EditForm id="buildingForm" class="row" Model="@Building">

                        <DataAnnotationsValidator />

                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">مشخصات ساختمان</div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">نام ساختمان * </label>
                                        <div class="form-input-wrapper">
                                            <InputText class="full-width"
                                               placeholder="نام ساختمان"
                                               @bind-Value="Building.Title" />
                                        </div>
                                        <ValidationMessage For="() => Building.Title" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">نوع ساختمان * </label>
                                        <div class="form-input-wrapper">
                                            <RadzenDropDown TValue="string"
                                                    Placeholder="انتخاب کنید"
                                                    Data="@(EnumMapping.ToSelectListItems<BuildingType>())"
                                                    @bind-Value="@Building.BuildingTypeSelectedValue"
                                                    TextProperty="Text"
                                                    ValueProperty="Value" />
                                        </div>
                                        <ValidationMessage For="() => Building.BuildingType" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="buildingPhoneNumber">تلفن</label>
                                        <div class="form-input-wrapper">
                                            <InputText style="width:97%"
                                               class="full-width"
                                               placeholder="تلفن"
                                               @bind-Value="Building.PhoneNumber" />
                                        </div>
                                        <ValidationMessage For="() => Building.PhoneNumber" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="buildingAddress">آدرس</label>
                                        <div class="form-input-wrapper">
                                            <RadzenTextArea id="buildingAddress" Style="width: 97%"
                                                    @bind-Value="Building.Address"
                                                    placeholder="آدرس" />
                                        </div>
                                        <ValidationMessage For="() => Building.Address" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </EditForm>

                </div>
            }
        </section>
    }
    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper mt-4">

            <TelerikGrid TItem="@BuildingReadDto"
                         @ref="@BuildingGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnRead=@OnReadHandler>
                <GridColumns>
                    <GridColumn Field="@(nameof(BuildingReadDto.Title))" Title="نام ساختمان" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(BuildingReadDto.Address))" Title="آدرس" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(BuildingReadDto.PhoneNumber))" Title="تلفن" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(BuildingReadDto.BuildingType))" Title="نوع" Locked="false" Sortable="false">
                        <Template Context="gridContext">
                            @{
                                var building = (BuildingReadDto)gridContext;

                                <span class="@(building.BuildingType == (int)BuildingType.Unit ? "blue-tag" : "green-tag")">
                                    @building.BuildingTypeDisplay
                                </span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@(nameof(BuildingReadDto.Id))" Title="عملیات" Sortable="false" Locked="false">
                        <Template Context="gridContext">
                            @{
                                var building = (BuildingReadDto)gridContext;

                                <div class="grid-action-buttons-wrapper">
                                    <TelerikButton Class="default-button view-work-button"
                                               Enabled="!IsLoading"
                                               OnClick="@(() => OpenUnitOrRoomPage(building))">

                                        @if (building.BuildingType == (int)BuildingType.Unit)
                                        {
                                            <span>جزئیات واحد</span>
                                        }
                                        else
                                        {
                                            <span>جزئیات اتاق</span>
                                        }

                                    </TelerikButton>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>

        </div>
    </section>
</div>