@page "/guest-houses/room/{BuildingId:int}/{UnitId:int}"

@inherits BitPageBase

<PageTitle>
    @PageTitles.RoomPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="personnel-page">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            <div class="page-add-edit-header">
                <div class="page-back-title">
                    @if (UnitId > 0)
                    {
                        @($"اتاق های واحد {UnitName}")
                    }
                    else
                    {
                        @($"اتاق های ساختمان {BuildingName}")
                    }
                </div>
                <div class="page-back-links">
                    <div>
                        <a href="@PageUrls.Dashboard">
                            داشبورد
                        </a>
                    </div>
                    <img src="@IconUrls.PaleArrowRight" />
                    <div> @CityName </div>
                    <img src="@IconUrls.DarkArrowRight" />
                    <div class="@(UnitId > 0 ? "active-link margin-right-0" : string.Empty)">
                        <a href="@PageUrls.BuildingPage(City)">ساختمان @BuildingName </a>
                    </div>

                    @if (UnitId > 0)
                    {
                        <img src="@IconUrls.DarkArrowRight" />
                        <div class="active-link margin-right-0">
                            <a href="@PageUrls.UnitPage(BuildingId)">واحد</a>
                        </div>
                    }
                </div>
            </div>
            @if (PageOperationType == OperationType.Filter)
            {
                <div class="top-add-buttons-wrapper">
                    <RadzenButton class="primary-button" Text="افزودن اتاق" Click="ChangeToAddRoomMode" />
                </div>
            }
        </div>
    </section>

    <!-- Filter -->
    <section class="filter-section">
        @if (PageOperationType == OperationType.Filter)
        {
            <div class="page-box-wrapper">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-12 col-xl-6 col-xxl-3">
                        <label class="input-label">
                            نام اتاق
                        </label>
                        <div class="searchbar-custom-wrapper" style="padding-bottom:25px;">
                            <img src="@IconUrls.Search" style="height:45px;" />
                            <TelerikTextBox class="full-width"
                                        PlaceHolder="نام اتاق"
                                        ValueChanged="SearchTermChanged">
                            </TelerikTextBox>
                        </div>
                    </div>

                </div>
            </div>
        }
    </section>

    <!-- Add Header -->
    <section>
        @if (PageOperationType is OperationType.Add)
        {
            <HeaderAddOrEdit>
                <button type="submit" form="Room-form" class="primary-button" @onclick="OnRoomSubmit">ذخیره</button>
                <button class="default-button" @onclick="ChangeToFilterMode">انصراف</button>
            </HeaderAddOrEdit>
        }
    </section>

    <!-- Room EditForm -->
    @if (PageOperationType == OperationType.Add)
    {
        <section class="RoomEditFormSection">
            @if (PageOperationType is OperationType.Add or OperationType.Edit)
            {
                <div class="form-custom-wrapper">

                    <EditForm id="RoomForm" class="row" Model="@Room">

                        <DataAnnotationsValidator />

                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">مشخصات اتاق</div>
                            <div class="col-10">

                                <div class="row">
                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">نام اتاق * </label>
                                        <div class="form-input-wrapper">
                                            <InputText class="full-width"
                                               placeholder="نام اتاق"
                                               @bind-Value="Room.Title" />
                                        </div>
                                        <ValidationMessage For="() => Room.Title" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">تعداد تخت * </label>
                                        <div class="form-input-wrapper">
                                            <InputNumber class="full-width"
                                                 placeholder="تعداد تخت"
                                                 @bind-Value="Room.BedCounts" />
                                        </div>
                                        <ValidationMessage For="() => Room.BedCounts" />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="RoomAddress">امکانات</label>
                                        <div class="form-input-wrapper">
                                            <RadzenTextArea id="RoomAddress" Style="width: 100%"
                                                    @bind-Value="Room.Facilities"
                                                    placeholder="امکانات" />
                                        </div>
                                        <ValidationMessage For="() => Room.Facilities" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="RoomAddress">توضیحات</label>
                                        <div class="form-input-wrapper">
                                            <RadzenTextArea id="RoomAddress" Style="width: 100%"
                                                    @bind-Value="Room.Description"
                                                    placeholder="توضیحات" />
                                        </div>
                                        <ValidationMessage For="() => Room.Description" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </EditForm>
                </div>
            }
        </section>
    }
    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper mt-4">

            <TelerikGrid TItem="@RoomReadDto"
                         @ref="@RoomGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnRowRender="OnGridRowRender"
                         OnRead=@OnReadHandler>
                <GridColumns>
                    <GridColumn Field="@(nameof(RoomReadDto.Title))" Title="نام اتاق" Width="10%" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(RoomReadDto.BedCounts))" Title="تعداد تخت ها" Width="10%" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(RoomReadDto.Facilities))" Title="امکانات" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(RoomReadDto.Description))" Title="توضیحات" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(RoomReadDto.IsActiveString))" Title="وضعیت" Locked="false" Sortable="true">
                        <Template Context="gridContext">
                            @{
                                var room = (RoomReadDto)gridContext;

                                <span class="@(room.IsActive ? "green-tag" : "red-tag")">
                                    @room.IsActiveString
                                </span>
                            }
                        </Template>
                    </GridColumn>

                    <GridColumn Field="@(nameof(RoomReadDto.Id))" Title="عملیات" Sortable="false" Locked="false">
                        <Template Context="gridContext">
                            @{
                                var Room = (RoomReadDto)gridContext;

                                <div class="grid-action-buttons-wrapper">
                                    <TelerikButton Class="default-button view-work-button"
                                               Enabled="!IsLoading"
                                               OnClick="@(() => ChangeRoomStatus(Room))">
                                        <span>تغییر وضعیت</span>
                                    </TelerikButton>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>

        </div>
    </section>
</div>

<!-- Popup Windows => Change Room Status -->
<section>
    <ConfirmDialog @bind-IsVisible="IsChangeRoomStatusWindowVisible"
                   Title="تغییر وضعیت اتاق"
                   Text=@($"آیا مطمئن هستید میخواهید وضعیت این اتاق را از حالت {(SelectedRoomStatus ? "فعال به غیرفعال" : "غیرفعال به فعال")} تغییر دهید؟")
                   OkButtonText="تغییر"
                   OnConfirm="() => ConfirmChangeRoomStatus()" />
</section>