@page "/guest-houses/unit/{BuildingId:int}"

@inherits BitPageBase

<PageTitle>
    @PageTitles.UnitPage.Title
</PageTitle>

<TelerikLoaderContainer Text="" Visible="@IsLoading" />

<div class="personnel-page">

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            <div class="page-add-edit-header">
                <div class="page-back-title">
                    @($"{PageTitles.UnitPage.Title} های ساختمان {BuildingName}")
                </div>
                <div class="page-back-links">
                    <div>
                        <a href="@PageUrls.Dashboard">
                            داشبورد
                        </a>
                    </div>
                    <img src="@IconUrls.PaleArrowRight" />
                    <div>شهر @CityName</div>
                    <img src="@IconUrls.DarkArrowRight" />
                    <div class="active-link margin-right-0">
                        <a href="@PageUrls.BuildingPage(City)">ساختمان</a>
                    </div>
                </div>
            </div>
            @if (PageOperationType == OperationType.Filter)
            {
                <div class="top-add-buttons-wrapper">
                    <RadzenButton class="primary-button" Text="افزودن واحد" Click="ChangeToAddUnitMode" />
                </div>
            }
        </div>
    </section>

    <!-- Filter -->
    <section class="filter-section">
        @if (PageOperationType == OperationType.Filter)
        {
            <div class="page-box-wrapper">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-12 col-xl-6 col-xxl-3">
                        <label class="input-label">
                            نام واحد
                        </label>
                        <div class="searchbar-custom-wrapper" style="padding-bottom:25px;">
                            <img src="@IconUrls.Search" style="height:45px;" />
                            <TelerikTextBox class="full-width"
                                        PlaceHolder="نام واحد"
                                        ValueChanged="SearchTermChanged">
                            </TelerikTextBox>
                        </div>
                    </div>

                </div>
            </div>
        }
    </section>

    <!-- Add Header -->
    <section>
        @if (PageOperationType is OperationType.Add)
        {
            <HeaderAddOrEdit>
                <button type="submit" form="Unit-form" class="primary-button" @onclick="OnUnitSubmit">ذخیره</button>
                <button class="default-button" @onclick="ChangeToFilterMode">انصراف</button>
            </HeaderAddOrEdit>
        }
    </section>

    <!-- Unit EditForm -->
    @if (PageOperationType == OperationType.Add)
    {
        <section class="UnitEditFormSection">
            @if (PageOperationType is OperationType.Add or OperationType.Edit)
            {
                <div class="form-custom-wrapper">

                    <EditForm id="unitForm" class="row" Model="@Unit">

                        <DataAnnotationsValidator />

                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">مشخصات واحد</div>
                            <div class="col-10">

                                <div class="row">
                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">نام واحد * </label>
                                        <div class="form-input-wrapper">
                                            <InputText class="full-width"
                                               placeholder="نام واحد"
                                               @bind-Value="Unit.Title" />
                                        </div>
                                        <ValidationMessage For="() => Unit.Title" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="documentCategory">تعداد اتاق * </label>
                                        <div class="form-input-wrapper">
                                            <InputNumber class="full-width"
                                                 placeholder="تعداد اتاق"
                                                 @bind-Value="Unit.RoomCounts" />
                                        </div>
                                        <ValidationMessage For="() => Unit.RoomCounts" />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="UnitAddress">امکانات</label>
                                        <div class="form-input-wrapper">
                                            <RadzenTextArea id="UnitAddress" Style="width: 100%"
                                                    @bind-Value="Unit.Facilities"
                                                    placeholder="امکانات" />
                                        </div>
                                        <ValidationMessage For="() => Unit.Facilities" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 form-item-wrapper">
                                        <label for="UnitAddress">توضیحات</label>
                                        <div class="form-input-wrapper">
                                            <RadzenTextArea id="UnitAddress" Style="width: 100%"
                                                    @bind-Value="Unit.Description"
                                                    placeholder="توضیحات" />
                                        </div>
                                        <ValidationMessage For="() => Unit.Description" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </EditForm>
                </div>
            }
        </section>
    }
    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper mt-4">

            <TelerikGrid TItem="@UnitReadDto"
                         @ref="@UnitGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnRowRender="OnGridRowRender"
                         OnRead=@OnReadHandler>
                <GridColumns>
                    <GridColumn Field="@(nameof(UnitReadDto.Title))" Title="نام واحد" Width="10%" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(UnitReadDto.RoomCounts))" Title="تعداد اتاق ها" Width="10%" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(UnitReadDto.Facilities))" Title="امکانات" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(UnitReadDto.Description))" Title="توضیحات" Locked="false" Sortable="true" />
                    <GridColumn Field="@(nameof(UnitReadDto.IsActiveString))" Title="وضعیت" Locked="false" Sortable="true">
                        <Template Context="gridContext">
                            @{
                                var unit = (UnitReadDto)gridContext;

                                <span class="@(unit.IsActive ? "green-tag" : "red-tag")">
                                    @unit.IsActiveString
                                </span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@(nameof(UnitReadDto.Id))" Title="عملیات" Sortable="false" Locked="false">
                        <Template Context="gridContext">
                            @{
                                var unit = (UnitReadDto)gridContext;

                                <div class="grid-action-buttons-wrapper">
                                    <TelerikButton Class="default-button view-work-button"
                                               Enabled="!IsLoading"
                                               OnClick="@(() => OpenRoomPage(unit.Id))">
                                        <span>جزئیات اتاق</span>
                                    </TelerikButton>
                                </div>

                                <div class="grid-action-buttons-wrapper">
                                    <TelerikButton Class="default-button view-work-button"
                                               Enabled="!IsLoading"
                                               OnClick="@(() => ChangeUnitStatus(unit))">
                                        <span>تغییر وضعیت</span>
                                    </TelerikButton>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>

        </div>
    </section>
</div>

<!-- Popup Windows => Change Unit Status -->
<section>
    <ConfirmDialog @bind-IsVisible="IsChangeUnitStatusWindowVisible"
                   Title="تغییر وضعیت واحد"
                   Text=@($"آیا مطمئن هستید میخواهید وضعیت این واحد را از حالت {(SelectedUnitStatus ? "فعال به غیرفعال" : "غیرفعال به فعال")} تغییر دهید؟")
                   OkButtonText="تغییر"
                   OnConfirm="() => ConfirmChangeUnitStatus()" />
</section>