@page "/workhours/all"

@using DNTPersianUtils.Core
@using ATABit.Helper.Utils
@using GridSelectionMode = ATA.HR.Client.Web.Enums.GridSelectionMode
@using ATA.HR.Shared.Enums.WorkHours
@using ClosedXML.Report.Utils
@using ATA.HR.Shared.Enums.Workflow
@inherits BitPageBase

<PageTitle>
    @PageTitles.AllWorkHoursPage.Title
</PageTitle>

<TelerikLoaderContainer Text="@(UserNameSendingWorkHours.IsNotNullOrEmpty() ? $"در حال ارسال کارکرد {UserNameSendingWorkHours}" : LoadingText)" Visible="@IsLoading" />

<div class="personnel-page workhours-page">

    <!-- AddOrEdit Header -->
    <section>
        @if (PageOperationType is OperationType.Add or OperationType.Edit or OperationType.Custom1)
        {
            <HeaderAddOrEdit>
                <button class="default-button" @onclick="ChangeToFilterMode" style="padding-top: 2px;">انصراف</button>
                @if (PageOperationType is OperationType.Add)
                {
                    <button type="submit" form="workHoursForm" class="primary-button" @onclick="SaveAndRegisterNew" style="padding-top: 2px;">ذخیره / ثبت بعدی</button>
                }
                <button type="submit" form="workHoursForm" class="primary-button" @onclick="SaveAndReturn" style="padding-top: 2px;">
                    @if (PageOperationType is OperationType.Add)
                    {
                        <span>ذخیره / برگشت</span>
                    }
                    else
                    {
                        <span>ذخیره</span>
                    }
                </button>
            </HeaderAddOrEdit>
        }
    </section>

    <!-- Page Heading Title -->
    <section class="page-header-section">
        <div class="page-header-wrapper">
            @if (PageOperationType == OperationType.Filter)
            {
                <TopBar PageName="کارکرد پرسنل" PageDescription="مشاهده و ثبت کارکردهای پرسنل شرکت هواپیمایی آتا" />

                <AuthorizeView Policy="@Claims.WorkHours_RegisterOrEdit">
                    <div class="flex">
                        <RadzenButton Style="width: 10.75rem;" class="primary-button" Text="ثبت کارکرد جدید" Click="() => OpenRegisterNewWorkHourWindow()" />
                    </div>
                </AuthorizeView>
            }
        </div>
    </section>

    <!-- Filter -->
    <section class="filter-section">
        @if (PageOperationType == OperationType.Filter)
        {
            <div class="page-box-wrapper" style="padding-bottom: 2.2rem">
                <div class="row">
                    <div class="col-12 col-md-6 col-xxl-6 filter-box">
                        <label>نوع کارکرد پرسنل</label>
                        <div>
                            <RadzenSelectBar Data="@EmployeeWorkingTypesSource"
                                         TValue="string"
                                         @bind-Value=@WorkHoursFilter.EmployeeWorkingTypeSelectedValue
                                         Change="@(() => ApplyFilters)"
                                         TextProperty="Text"
                                         ValueProperty="Value" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-6 col-xxl-3">
                        <label class="input-label">
                            کاربر
                        </label>
                        <div class="searchbar-custom-wrapper">
                            <img src="@IconUrls.Search" />
                            <TelerikTextBox class="full-width"
                                        PlaceHolder="جستجو با شماره‌ی پرسنلی یا نام پرسنل"
                                        ValueChanged="SearchTermChanged">
                            </TelerikTextBox>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-3 filter-box">
                        <label>سال و ماه کارکرد</label>
                        <div>
                            <div class="flex">
                                <RadzenDropDown AllowClear="false"
                                            TValue="string"
                                            AllowFiltering="true"
                                            Placeholder="انتخاب کنید"
                                            Data="@YearsSource"
                                            @bind-Value="@WorkHoursFilter.YearSelectedValue"
                                            TextProperty="Text"
                                            Change="ChangeYearOrMonthFilter"
                                            ValueProperty="Value"
                                            Style="margin-left: 15px" />

                                <RadzenDropDown AllowClear="false"
                                            TValue="string"
                                            AllowFiltering="true"
                                            Placeholder="انتخاب کنید"
                                            Data="@MonthsSource"
                                            @bind-Value="@WorkHoursFilter.MonthSelectedValue"
                                            TextProperty="Text"
                                            Change="ChangeYearOrMonthFilter"
                                            ValueProperty="Value" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-3 filter-box mt-3">
                        <label>واحد</label>
                        <div>
                            <RadzenDropDown AllowClear="true"
                                        TValue="string"
                                        AllowFiltering="true"
                                        Placeholder="انتخاب کنید"
                                        Data="@UnitsSource"
                                        @bind-Value="@WorkHoursFilter.UnitName"
                                        TextProperty="Text"
                                        Change="@(() => ApplyFilters)"
                                        ValueProperty="Value" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-3 filter-box mt-3">
                        <label>محل خدمت</label>
                        <div>
                            <RadzenDropDown AllowClear="true"
                                        TValue="string"
                                        AllowFiltering="true"
                                        Placeholder="انتخاب کنید"
                                        Data="@WorkLocationsSource"
                                        @bind-Value="@WorkHoursFilter.WorkLocation"
                                        TextProperty="Text"
                                        Change="@(() => ApplyFilters)"
                                        ValueProperty="Value" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-3 filter-box mt-3">
                        <label>ثبت کننده</label>
                        <div>
                            <RadzenDropDown AllowClear="true"
                                            TValue="string"
                                            AllowFiltering="true"
                                            Placeholder="انتخاب کنید"
                                            Data="@RegistrarsSource"
                                            @bind-Value="@WorkHoursFilter.RegistrarUserIdSelectedValue"
                                            TextProperty="Text"
                                            Change="@(() => ApplyFilters)"
                                            ValueProperty="Value" />
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6 col-xxl-3 filter-box mt-3">
                        <label>وضعیت گردش کارکرد</label>
                        <div>
                            <RadzenDropDown AllowClear="true"
                                        TValue="string"
                                        AllowFiltering="true"
                                        Placeholder="انتخاب کنید"
                                        Data="@FlowsProgressSource"
                                        @bind-Value="@WorkHoursFilter.FlowCurrentStateTag"
                                        TextProperty="Text"
                                        Change="@(() => ApplyFilters)"
                                        ValueProperty="Value" />
                        </div>
                    </div>

                </div>
            </div>
        }
    </section>

    <!-- WorkHours EditForm -->
    <section class="documentEditFormSection">
        @if (PageOperationType is OperationType.Add or OperationType.Edit)
        {
            <div class="form-custom-wrapper">

                <EditForm id="workHoursForm" class="row" Model="@WorkHour" OnValidSubmit="OnWorkHourSubmit">

                    <DataAnnotationsValidator />

                    @if (PageOperationType is OperationType.Add or OperationType.Edit)
                    {
                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">پرسنل</div>
                            <div class="col-10">
                                <div class="row">

                                    <div class="col-2">
                                        <img class="doc-profile-img" src="@UserEmployeeDataToBeShownInEditForm.imageUrl" style="height: 118px; background: lightgray; margin-bottom: -10px; border-radius: 4%; border: 1px solid lightgray;" @onerror="OnUserImageLoadFailed" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label> شماره پرسنلی </label>
                                        <div class="form-input-wrapper flex space-between">
                                            @*<RadzenNumeric id="personnelCode"
                                    Style="width: 100%"
                                    Disabled="true"
                                    @bind-Value="UserEmployeeDataToBeShownInEditForm.employeePersonnelCode"
                                    Placeholder="شماره‌ی پرسنلی" />*@

                                            <div style="box-shadow: inset 0 4px 7px 0 rgb(0 0 0 / 3%); border: 1px solid #cecece; padding: 7px 7px 8px 7px; border-radius: 3px; background-color: whitesmoke;width: 80%;">
                                                @UserEmployeeDataToBeShownInEditForm.employeePersonnelCode.ToPersianNumbers()
                                            </div>

                                            @if (PageOperationType is OperationType.Add)
                                            {
                                                <button type="button" style="cursor: pointer;border: 1px solid lightgray;margin-right: 6px;"
                                            class="grid-action-button edit" title="تغییر پرسنل" @onclick="@(() => OpenRegisterNewWorkHourWindow())">
                                                    <img class="btn-img" src="@IconUrls.PenGray" />
                                                </button>
                                            }
                                        </div>
                                        @*<ValidationMessage For="() => SelectedUserToAddWorkHours.PersonnelCode" />*@
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label> نام پرسنل</label>
                                        <div class="form-input-wrapper">
                                            <div style="box-shadow: inset 0 4px 7px 0 rgb(0 0 0 / 3%); border: 1px solid #cecece; padding: 7px 7px 8px 7px; border-radius: 3px; background-color: whitesmoke;">
                                                @UserEmployeeDataToBeShownInEditForm.employeeFullName
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label> سمت پرسنل</label>
                                        <div class="form-input-wrapper">
                                            <div style="box-shadow: inset 0 4px 7px 0 rgb(0 0 0 / 3%); border: 1px solid #cecece; padding: 7px 7px 8px 7px; border-radius: 3px; background-color: whitesmoke;">
                                                @UserEmployeeDataToBeShownInEditForm.employeePostTitle
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">نوع و زمان کارکرد</div>
                            <div class="col-10">
                                <div class="row">

                                    <div class="col-6 form-item-wrapper">
                                        <label> نوع کارکرد پرسنل * </label>
                                        <div class="form-input-wrapper">
                                            <RadzenSelectBar Data="@(EnumMapping.ToSelectListItems<EmployeeWorkingType>())"
                                                     TValue="string"
                                                     @bind-Value=@WorkHour.EmployeeWorkingTypeSelectedValue
                                                     Change="ChangeEmployeeTypeInEditForm"
                                                     TextProperty="Text"
                                                     ValueProperty="Value" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.EmployeeWorkingTypeSelectedValue" />
                                    </div>

                                    <div class="col-4 form-item-wrapper">
                                        <label> سال و ماه کارکرد * </label>
                                        <div class="form-input-wrapper">
                                            <div class="flex">
                                                <RadzenDropDown AllowClear="false"
                                                        TValue="string"
                                                        AllowFiltering="true"
                                                        Placeholder="انتخاب کنید"
                                                        Disabled="PageOperationType is OperationType.Edit"
                                                        Data="@YearsSource"
                                                        @bind-Value="@WorkHour.YearSelectedValue"
                                                        TextProperty="Text"
                                                        ValueProperty="Value"
                                                        Style="margin-left: 15px" />

                                                <RadzenDropDown AllowClear="false"
                                                        TValue="string"
                                                        AllowFiltering="true"
                                                        Placeholder="انتخاب کنید"
                                                        Disabled="PageOperationType is OperationType.Edit"
                                                        Data="@MonthsSource"
                                                        @bind-Value="@WorkHour.MonthSelectedValue"
                                                        TextProperty="Text"
                                                        ValueProperty="Value" />
                                            </div>
                                        </div>
                                        <ValidationMessage For="() => WorkHour.YearSelectedValue" />
                                        <ValidationMessage For="() => WorkHour.MonthSelectedValue" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                    @if (IsViewingFlightCrewEditForm)
                    {
                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">کارکرد پرسنل کروی پروازی</div>
                            <div class="col-10">
                                <div class="row">

                                    <div class="col-3 form-item-wrapper">
                                        <label for="WorkDays"> روز کارکرد</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="WorkDays"
                                                   Style="width: 100px; text-align: center"
                                                   @bind-Value="WorkHour.WorkDays"
                                                   Placeholder="Day" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.WorkDays" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="pilotFlightTimeHour"> ساعت پرواز خلبان </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="pilotFlightTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.PilotFlightTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="pilotFlightTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.PilotFlightTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.PilotFlightTimeHour" />
                                        <ValidationMessage For="() => WorkHour.PilotFlightTimeMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="HoursOfStayOutsideTheCenterHour"> ساعت اقامت خارج از مرکز </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="HoursOfStayOutsideTheCenterHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.HoursOfStayOutsideTheCenterHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="pilotFlightTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.HoursOfStayOutsideTheCenterMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.HoursOfStayOutsideTheCenterHour" />
                                        <ValidationMessage For="() => WorkHour.HoursOfStayOutsideTheCenterMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="TechnicalFlightTimeHour"> کارکرد پرواز فنی</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="TechnicalFlightTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.TechnicalFlightTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="TechnicalFlightTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.TechnicalFlightTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.TechnicalFlightTimeHour" />
                                        <ValidationMessage For="() => WorkHour.TechnicalFlightTimeMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="AttendantsFlightTimeHour"> ساعت پرواز مهمانداران</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="AttendantsFlightTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.AttendantsFlightTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="AttendantsFlightTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.AttendantsFlightTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.AttendantsFlightTimeHour" />
                                        <ValidationMessage For="() => WorkHour.AttendantsFlightTimeMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="AttendantsHoursOfStayOutsideTheCenterHour"> ساعت اقامت خارج از مرکز مهمانداران</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="AttendantsHoursOfStayOutsideTheCenterHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.AttendantsHoursOfStayOutsideTheCenterHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="AttendantsHoursOfStayOutsideTheCenteMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.AttendantsHoursOfStayOutsideTheCenterMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.AttendantsHoursOfStayOutsideTheCenterHour" />
                                        <ValidationMessage For="() => WorkHour.AttendantsHoursOfStayOutsideTheCenterMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="PilotPerDiem"> حق پردیوم خلبان و کمک خلبان</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="PilotPerDiem"
                                                   Style="width: 100px; text-align: center"
                                                   @bind-Value="WorkHour.PilotPerDiem"
                                                   Placeholder="Day" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.PilotPerDiem" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="AttendantsPerDiem"> حق پردیوم سرمهماندار و مهماندار</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="AttendantsPerDiem"
                                                   Style="width: 100px; text-align: center"
                                                   @bind-Value="WorkHour.AttendantsPerDiem"
                                                   Placeholder="Day" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.AttendantsPerDiem" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="ExtraWorkTimeHour">  اضافه کاری</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="ExtraWorkTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.ExtraWorkTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="ExtraWorkTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.ExtraWorkTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.ExtraWorkTimeHour" />
                                        <ValidationMessage For="() => WorkHour.ExtraWorkTimeMinute" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (IsViewingSetadiEditForm)
                    {
                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">کارکرد پرسنل ستادی</div>
                            <div class="col-10">
                                <div class="row">

                                    <div class="col-3 form-item-wrapper">
                                        <label for="WorkDays"> روز کارکرد</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="WorkDays"
                                                   Style="width: 100px; text-align: center"
                                                   @bind-Value="WorkHour.WorkDays"
                                                   Placeholder="Day" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.WorkDays" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="ExtraWorkTimeHour">  اضافه کاری</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="ExtraWorkTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.ExtraWorkTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="ExtraWorkTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.ExtraWorkTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.ExtraWorkTimeHour" />
                                        <ValidationMessage For="() => WorkHour.ExtraWorkTimeMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="FridaysWorkTimeHour"> جمعه کاری </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="FridaysWorkTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.FridaysWorkTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="FridaysWorkTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.FridaysWorkTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.FridaysWorkTimeHour" />
                                        <ValidationMessage For="() => WorkHour.FridaysWorkTimeMinute" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="MonthlyWorkDeductionsHour"> کسر کار  </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="MonthlyWorkDeductionsHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.MonthlyWorkDeductionsHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="MonthlyWorkDeductionsMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.MonthlyWorkDeductionsMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.MonthlyWorkDeductionsHour" />
                                        <ValidationMessage For="() => WorkHour.MonthlyWorkDeductionsMinute" />
                                    </div>


                                    <div class="col-3 form-item-wrapper">
                                        <label for="HasShiftWork10Percent">  نوبت کاری 10%</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">

                                            <RadzenSwitch id="HasShiftWork10Percent"
                                                  @bind-Value="WorkHour.HasShiftWork10Percent"
                                                  Change="OnShit10PercentChanged" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.HasShiftWork10Percent" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="HasShiftWork15Percent"> نوبت کاری 15% </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">

                                            <RadzenSwitch id="HasShiftWork15Percent"
                                                  @bind-Value="WorkHour.HasShiftWork15Percent"
                                                  Change="OnShit15PercentChanged" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.HasShiftWork15Percent" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="HasShiftWork225Percent"> نوبت کاری 22.5%</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">

                                            <RadzenSwitch id="HasShiftWork225Percent"
                                                          @bind-Value="WorkHour.HasShiftWork225Percent"
                                                          Change="OnShit225PercentChanged" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.HasShiftWork225Percent" />
                                    </div>

                                    <div class="col-3 form-item-wrapper">
                                        <label for="TechnicalFlightTimeHour"> کارکرد پرواز فنی</label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="TechnicalFlightTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.TechnicalFlightTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="TechnicalFlightTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.TechnicalFlightTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.TechnicalFlightTimeHour" />
                                        <ValidationMessage For="() => WorkHour.TechnicalFlightTimeMinute" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (IsViewingHourlyEditForm)
                    {
                        <!-- Form Section -->
                        <div class="row form-section">
                            <div class="col-2 form-section-title">کارکرد پرسنل ساعتی</div>
                            <div class="col-10">
                                <div class="row">


                                    <div class="col-3 form-item-wrapper">
                                        <label for="HourlyWorkTimeHour"> کارکرد ساعتی </label>
                                        <div class="form-input-wrapper" style="display: flex; direction: ltr; justify-content: flex-end;">
                                            <RadzenNumeric id="HourlyWorkTimeHour"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.HourlyWorkTimeHour"
                                                   Placeholder="Hour" />
                                            <div style="margin-right: 8px; margin-left: 8px; margin-top: 7px">:</div>
                                            <RadzenNumeric id="HourlyWorkTimeMinute"
                                                   Style="width: 60px; text-align: center"
                                                   @bind-Value="WorkHour.HourlyWorkTimeMinute"
                                                   Placeholder="Min" />
                                        </div>
                                        <ValidationMessage For="() => WorkHour.HourlyWorkTimeHour" />
                                        <ValidationMessage For="() => WorkHour.HourlyWorkTimeMinute" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Form Section -->
                    <div class="row form-section">
                        <div class="col-2 form-section-title">توضیحات</div>
                        <div class="col-10">
                            <div class="row">

                                <div class="col-5 form-item-wrapper">
                                    <label for="documentDesc"> توضیحات کارکرد </label>
                                    <div class="form-input-wrapper">
                                        <RadzenTextArea id="documentDesc"
                                                    Style="width: 100%"
                                                    @bind-Value="WorkHour.Description"
                                                    Placeholder="توضیحات" />
                                    </div>
                                    <ValidationMessage For="() => WorkHour.Description" />
                                </div>

                            </div>
                        </div>
                    </div>

                </EditForm>

            </div>
        }
    </section>

    <!-- Grid -->
    <section class="grid-section">
        <div class="page-grid-wrapper">

            <div class="page-grid-operation-wrapper workhours-grid">
                @{
                    IsVisibleMultipleActionButton = TotalWorkHoursCountAtTargetMonth > 1;

                    var additionalClass = IsVisibleMultipleActionButton ? "" : "visibility-hidden";

                    @if (IsViewingRegisteredGrid)
                    {
                        //<TelerikButton Class="secondary-button excel-button workhour-excel-button" ImageUrl="@IconUrls.Export" OnClick="ExportWorkHoursDataToRahkaranExcel"> خروجی Excel کارکردها [راهکاران] </TelerikButton>
                        <TelerikButton Class="secondary-button excel-button workhour-excel-button" ImageUrl="@IconUrls.Export" OnClick="ExportWorkHoursDataToHRExcel"> خروجی Excel کارکردها [اداری] </TelerikButton>
                        @if (IsVisibleMultipleActionButton)
                        {
                            <div class="multiple-action-box">
                                @*<label class="select-status-label">حالت انتخاب</label>*@
                                <div>
                                    <RadzenDropDown AllowClear="false"
                                                    TValue="string"
                                                    AllowFiltering="false"
                                                    Data="@(EnumMapping.ToSelectListItems<GridSelectionMode>())"
                                                    @bind-Value="@MultiActionModeSelectedValue"
                                                    Change="GridSelectionModeChanged"
                                                    TextProperty="Text"
                                                    ValueProperty="Value" />
                                </div>
                            </div>

                            <AuthorizeView Policy="@Claims.WorkHours_StartFlow">
                                
                                @if (IsMultiActionOnCustomSelection)
                                {
                                    <TelerikButton Class="primary-button excel-button workhour-excel-button send-all-workhours-button" OnClick="SendAllFilteredWorkHours">@($"ارسال همزمان {SelectedItems.Count()} کارکرد انتخاب شده‌")</TelerikButton>
                                }
                                else
                                {
                                    <TelerikButton Class="primary-button excel-button workhour-excel-button send-all-workhours-button" OnClick="SendAllFilteredWorkHours">@($"ارسال همزمان {TotalHaveNotSentWorkHoursCountAtTargetMonth} کارکرد فیلترشده‌")</TelerikButton>
                                }

                            </AuthorizeView>
                        }
                    }
                    else
                    {
                        <TelerikButton Class="secondary-button excel-button workhour-excel-button" ImageUrl="@IconUrls.Export" OnClick="ExportNotRegisteredPersonnelDataToExcel"> خروجی Excel پرسنل ثبت نشده </TelerikButton>
                    }
                }
            </div>

            <div class="orders-archive-status-container">
                <div class="@(IsViewingRegisteredGrid ? "active" : "")"
                     @onclick="ChangeToViewRegisteredPersonnelGrid">
                    کارکردهای ثبت شده
                    <span class="badge" style="display: inline;
                                           padding: 3px 6px 5px 7px;
                                           color: whitesmoke;
                                           background: forestgreen;
                                           font-size: 12px;
                                           border: none;
                                           letter-spacing: 1px;">
                        @TotalWorkHoursCountAtTargetMonth.ToPersianNumbers()
                    </span>
                </div>
                <AuthorizeView Policy="@Claims.WorkHours_RegisterOrEdit">
                    <div class="@(IsViewingNotRegisteredGrid ? "active" : "")"
                         @onclick="ChangeToViewNotRegisteredPersonnelGrid">
                        پرسنل ثبت نشده
                        <span class="badge" style="display: inline;
                                                   padding: 3px 6px 5px 7px;
                                                   color: whitesmoke;
                                                   background: indianred;
                                                   font-size: 12px;
                                                   border: none;
                                                   letter-spacing: 1px;">
                            @TotalUsersUnregisteredAtTargetMonth.ToPersianNumbers()
                        </span>
                    </div>
                </AuthorizeView>
                <AuthorizeView Policy="@Claims.WorkHours_Edit">
                    <div class="@(IsViewingEditedGrid ? "active" : "")"
                         @onclick="ChangeToViewEditedPersonnelGrid">
                        کارکردهای ویرایش شده
                        <span class="badge" style="display: inline;
                                                   padding: 3px 6px 5px 7px;
                                                   color: whitesmoke;
                                                   background: indianred;
                                                   font-size: 12px;
                                                   border: none;
                                                   letter-spacing: 1px;">
                            @TotalEditedWorkHoursCountAtTargetMonth.ToPersianNumbers()
                        </span>
                    </div>
                </AuthorizeView>
                <AuthorizeView Policy="@Claims.WorkHours_Edit">
                    <div class="@(IsViewingWithAbsentGrid ? "active" : "")"
                    @onclick="ChangeToViewWithAbsentPersonnelGrid">
                        غیبت
                        <span class="badge" style="display: inline;
                                                       padding: 3px 6px 5px 7px;
                                                       color: whitesmoke;
                                                       background: indianred;
                                                       font-size: 12px;
                                                       border: none;
                                                       letter-spacing: 1px;">
                            @TotalWithAbsentCountAtTargetMonth.ToPersianNumbers()
                        </span>
                    </div>
                </AuthorizeView>
            </div>

            @if (IsViewingRegisteredGrid || IsViewingEditedGrid || IsViewingWithAbsentGrid)
            {
                <TelerikGrid TItem="@WorkHourReadDto"
                         @ref="@WorkHoursGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         SelectionMode="Telerik.Blazor.GridSelectionMode.Multiple"
                         @bind-SelectedItems="SelectedItems"
                         OnStateInit="@OnStateInitHandler"
                         OnRowRender="OnGridRowRender"
                         OnRead=@OnReadHandlerWorkHoursGrid>
                    <GridColumns>
                        <GridCheckboxColumn Visible="@(IsVisibleMultipleActionButton && IsMultiActionOnCustomSelection)" CheckBoxOnlySelection="true" SelectAllMode="GridSelectAllMode.Current" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.Id))" Title="" Width="100px" Locked="false" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var wh = (WorkHourReadDto)gridContext;

                                    <img style="width: 4rem; height: 4rem" class="user-profile-img zoom-profile-on-hover" src="@wh.UserEmployeePicture" @onerror="() => OnUserImageLoadFailed(wh)" />
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.UserIdEmployee))" Title="شناسه کاربر" Visible="false" Width="100px" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.UserEmployeeFullName))" Title="نام پرسنل" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.UserEmployeePersonnelCode))" Title="کد پرسنلی" Width="100px" Locked="false" Sortable="true">
                            <Template Context="gridContext">
                                @{
                                    var wh = (WorkHourReadDto)gridContext;
                                    <span>@wh.UserEmployeePersonnelCodeToDisplay</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.UserEmployeeUnitName))" Title="واحد" Width="100px" Visible="!IsFlightCrewMode" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.WorkDaysToDisplay))" Title="روز کارکرد" Width="100px" Visible="!IsHourlyMode" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.AbsentDays))" Title="غیبت" Width="70px" Visible="!IsHourlyMode" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.PilotFlightTimeDisplay))" Title="ساعت پرواز خلبان" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="ساعت پرواز خلبان" class="tooltip-target">
                                    ساعت پرواز خلبان
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.HoursOfStayOutsideTheCenterTimeDisplay))" Title="ساعت اقامت خارج از مرکز" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="ساعت اقامت خارج از مرکز" class="tooltip-target">
                                    ساعت اقامت خارج از مرکز
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.TechnicalFlightTimeDisplay))" Title="کارکرد پرواز فنی" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="کارکرد پرواز فنی" class="tooltip-target">
                                    کارکرد پرواز فنی
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.AttendantsFlightTimeDisplay))" Title="ساعت پرواز مهمانداران" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="ساعت پرواز مهمانداران" class="tooltip-target">
                                    ساعت پرواز مهمانداران
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.AttendantsHoursOfStayOutsideTheCenterTimeDisplay))" Title="ساعت اقامت خارج از مرکز مهمانداران" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="ساعت اقامت خارج از مرکز مهمانداران" class="tooltip-target">
                                    ساعت اقامت خارج از مرکز مهمانداران
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.PilotPerDiemToDisplay))" Title="حق پردیوم خلبان و کمک خلبان" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="حق پردیوم خلبان و کمک خلبان" class="tooltip-target">
                                    حق پردیوم خلبان و کمک خلبان
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.AttendantsPerDiemToDisplay))" Title="حق پردیوم سرمهماندار و مهماندار" Visible="IsFlightCrewMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="حق پردیوم سرمهماندار و مهماندار" class="tooltip-target">
                                    حق پردیوم سرمهماندار و مهماندار
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.ExtraWorkTimeDisplay))" Title="اضافه کاری" Width="100px" Visible="!IsHourlyMode && !IsViewingWithAbsentGrid" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.FridaysWorkTimeDisplay))" Title="جمعه کاری" Visible="IsSetadiMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.MonthlyWorkDeductionsTimeDisplay))" Title="کسر کار ماهانه" Visible="IsSetadiMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false">
                            <HeaderTemplate>
                                <span title="کسر کار ماهانه" class="tooltip-target">
                                    کسر کار ماهانه
                                </span>
                            </HeaderTemplate>
                        </GridColumn>
                        <GridColumn Field="@(nameof(WorkHourReadDto.WorkShiftGridDisplay))" Title="نوبت کاری" Visible="IsSetadiMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(WorkHourReadDto.HourlyWorkTimeDisplay))" Title="کارکرد ساعتی" Visible="IsHourlyMode && !IsViewingWithAbsentGrid" Width="100px" Locked="false" Sortable="false" />
                        <AuthorizeView Policy="@Claims.WorkHours_RegisterOrEdit">
                            <GridColumn Field="@(nameof(WorkHourReadDto.Id))" Title="عملیات" Visible="!IsViewingEditedGrid && !IsViewingWithAbsentGrid" Width="110px" Locked="true" Sortable="false">
                                <Template Context="gridContext">
                                    @{
                                        var wh = (WorkHourReadDto)gridContext;
                                        <div class="grid-action-buttons-wrapper">

                                            @if (string.IsNullOrWhiteSpace(wh.FlowCurrentStateTag) || wh.FlowCurrentStateTag == WorkHourStateTag.StartWorkHourFlowByHR.ToString())
                                            {
                                                <button class="grid-action-button edit" title="ویرایش کارکرد" @onclick="@(() => ChangeToEditMode(wh.Id))">
                                                    <img class="btn-img" src="@IconUrls.PenGray"/>
                                                    <img class="btn-img-hovered" src="@IconUrls.PenWhite"/>
                                                </button>
                                            }
                                            else
                                            {
                                                <AuthorizeView Policy="@Claims.WorkHours_Edit" Context="gridContext2">
                                                    <button class="grid-action-button edit" title="ویرایش کارکرد" @onclick="@(() => ChangeToEditMode(wh.Id))">
                                                        <img class="btn-img" src="@IconUrls.PenGray"/>
                                                        <img class="btn-img-hovered" src="@IconUrls.PenWhite"/>
                                                    </button>
                                                </AuthorizeView>
                                            }

                                            <AuthorizeView Policy="@Claims.WorkHours_Delete" Context="gridContext2">
                                                <button class="grid-action-button delete" title="حذف کارکرد" @onclick="@(() => ShowDeleteWorkHourConfirmDialog(wh.Id))">
                                                    <img class="btn-img" src="@IconUrls.TrashGray"/>
                                                    <img class="btn-img-hovered" src="@IconUrls.TrashWhite"/>
                                                </button>
                                            </AuthorizeView>

                                            @if (wh.FlowCurrentStateTag.IsNullOrWhiteSpace())
                                            {
                                                <AuthorizeView Policy="@Claims.WorkHours_StartFlow" Context="gridContext3">
                                                    <button class="grid-action-button edit" title="ارسال کارکرد" @onclick="@(() => StartWorkHourFlow(wh.Id))">
                                                        <img class="btn-img" style="transform: rotateY(180deg)" src="@IconUrls.PaleArrowRight"/>
                                                        <img class="btn-img-hovered" style="transform: rotateY(180deg)" src="@IconUrls.PaleArrowRight"/>
                                                    </button>
                                                </AuthorizeView>
                                            }
                                            else if (wh.FlowCurrentStateTag != WorkHourStateTag.Finish.ToString()
                                                     && wh.FlowCurrentStateTag != WorkHourStateTag.EditAndConfirmWorkHourByCEO.ToString())
                                            {
                                                <div @onclick="@(() => OpenWorkHoursFlowFormPage(wh.Id))" class="flex cursor-pointer">
                                                    <img class="btn-img" title="در حال اخذ تایید‌ها" style="margin-right: 9px; width: 30px;" src="@IconUrls.CheckIcon"/>
                                                </div>
                                            }
                                            else if (wh.FlowCurrentStateTag == WorkHourStateTag.EditAndConfirmWorkHourByCEO.ToString())
                                            {
                                                <div @onclick="@(() => OpenWorkHoursFlowFormPage(wh.Id))" class="flex cursor-pointer">
                                                    <img class="btn-img" title="در انتظار تایید مدیرعامل" style="margin-right: 9px; width: 30px;" src="@IconUrls.DoubleCheckIcon"/>
                                                </div>
                                            }
                                            else
                                            {
                                                <div @onclick="@(() => OpenWorkHoursFlowFormPage(wh.Id))" class="flex cursor-pointer">
                                                    <img class="btn-img" title="تایید شده" style="margin-right: 9px; width: 30px; transform: scale(1.35)" src="@IconUrls.DoubleCheckIcon"/>
                                                </div>
                                            }

                                        </div>
                                    }
                                </Template>
                            </GridColumn>
                        </AuthorizeView>
                    </GridColumns>
                </TelerikGrid>
            }
            else if (IsViewingNotRegisteredGrid)
            {
                <TelerikGrid TItem="@UserDto"
                         @ref="@UnregisteredUsersGridRef"
                         Height="100%"
                         Pageable="true"
                         PageSize="PageSize"
                         Sortable="true"
                         Groupable="false"
                         Resizable="true"
                         Reorderable="true"
                         OnStateInit="@OnStateInitHandler2"
                         OnRowRender="OnGridRowRender2"
                         OnRead=@OnReadHandlerUnregisteredUsersGrid>
                    <GridColumns>
                        <GridColumn Field="@(nameof(UserDto.UserId))" Title="" Width="120px" Locked="false" Sortable="false">
                            <Template Context="gridContext">
                                @{
                                    var user = (UserDto)gridContext;

                                    <img style="width: 4rem; height:4rem" class="user-profile-img" src="@user.FatherName" @onerror="() => OnUserImageLoadFailed(user)" />
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(UserDto.FullName))" Title="نام پرسنل" Width="100px" Locked="false" Sortable="false" />
                        <GridColumn Field="@(nameof(UserDto.PersonnelCode))" Title="کد پرسنلی" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(UserDto.UnitName))" Title="واحد" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(UserDto.UnitDivisionName))" Title="بخش" Width="100px" Locked="false" Sortable="true" />
                        <GridColumn Field="@(nameof(UserDto.PostTitle))" Title="سمت" Width="100px" Locked="false" Sortable="false" />
                        <AuthorizeView Policy="@Claims.WorkHours_RegisterOrEdit">
                            <GridColumn Field="@(nameof(UserDto.UserId))" Title="افزودن کارکرد" Width="80px" Sortable="false" Locked="false">
                                <Template Context="gridContext">
                                    @{
                                        var user = (UserDto)gridContext;

                                        <div>
                                            <img style="width: 3rem; margin-top: 9px" title="@($"ثبت کارکرد {user.FullName}")" src="@IconUrls.AddCircle" class="cursor-pointer" @onclick="() => OpenWorkHourEditFormFor(user)" />
                                        </div>
                                    }
                                </Template>
                            </GridColumn>
                        </AuthorizeView>
                    </GridColumns>
                </TelerikGrid>
            }
        </div>
    </section>

    <!-- Popup Windows => Confirm WorkHours Deletion -->
    <section>
        <ConfirmDialog @bind-IsVisible="IsVisibleDeleteWorkHoursConfirmDialog"
                       Title="تایید حذف ساعت کارکرد"
                       Text="@($"این رکورد کارکرد به طور کامل حذف می‌شود. آ‌یا از حذف آن اطمینان دارید؟")"
                       OnConfirm="() => DeleteWorkHour(DeletingWorkHourId)" />
    </section>

    <!-- Popup Windows => Register New WorkHours -->
    <article>
        <TelerikWindow Class="popup-window-custom-wrapper" Width="100%" Height="100%" Centered="true" Visible="IsVisibleRegisterNewWorkHoursWindow">
            <WindowContent>

                <div class="popup-window-content versioning-window">

                    <div class="app-versioning-container" style="position: relative">

                        <img class="close-button" src="@IconUrls.CloseCircle" @onclick="() => IsVisibleRegisterNewWorkHoursWindow = false"
                             style="width: 30px;left: 7px;float: left;position: absolute;top: 7px;cursor: pointer;" />

                        <div class="col-4 popup-window-content-card">
                            @{
                                var a = (PageOperationType == OperationType.Edit) ? "ویرایش کارکرد" : "ثبت کارکرد جدید ";

                                <div>
                                    <h4 class="version-no-title" style="font-weight: bold;
                                                        margin-top: 6px;
                                                        margin-bottom: 10px;
                                                        color: darkgreen;
                                                        font-size: 17px;">
                                        @($"{a} – {WorkHoursFilter.MonthSelectedValue!.ToInt().GetPersianMonthName()} {WorkHoursFilter.YearSelectedValue.ToPersianNumbers()}")
                                    </h4>

                                    @if (IsVisibleAddNewWorkHourSuccessMessageBox)
                                    {
                                        <div style="border: 1px solid forestgreen;
                                                                                                border-radius: 5px;
                                                                                                padding: 15px;
                                                                                                margin: 25px 40px 20px 0;
                                                                                                text-align: center;
                                                                                                padding-bottom: 21px;
                                                                                                color: forestgreen;">
                                            @AddNewWorkHourSuccessMessage
                                        </div>
                                    }

                                    <div class="personnelCode-to-register-workhours-box" @onkeydown="@Enter">
                                        <TelerikTextBox Id="personnelCodeToRegisterNewWorkHours"
                                                    Class="input-personnelCode"
                                                        @bind-Value="PersonnelCodeToRegisterNewWorkHours"
                                                    PlaceHolder="شماره پرسنلی" />
                                    </div>

                                    @if (IsVisibleAddNewWorkHourErrorMessageBox)
                                    {
                                        <div style="border: 0.15px solid red;
                                                                                                    border-radius: 5px;
                                                                                                    padding: 15px;
                                                                                                    margin: 25px 40px 20px 0;
                                                                                                    text-align: center;
                                                                                                    padding-bottom: 21px;
                                                                                                    color: red;">
                                            @AddNewWorkHourErrorMessage
                                        </div>
                                    }

                                    <div style="display: flex;
                                                                                            justify-content: space-evenly;
                                                                                            margin-top: 40px;
                                                                                            margin-bottom: 20px;">
                                        <TelerikButton Class="primary-button" OnClick="PopulateEditFormForAddNewWorkHours"> تایید </TelerikButton>

                                        <TelerikButton Class="default-button" OnClick="() => IsVisibleRegisterNewWorkHoursWindow = false"> انصراف </TelerikButton>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>

            </WindowContent>
        </TelerikWindow>
    </article>
</div>